/*
AppChan by Zixaphir, MayhemYDG, !K.WeEabo0o, seaweed, disappoint, Kupaka

V. 12

This text is free. It comes without any warranty, to
the extent permitted by applicable law. You can redistribute it
and/or modify it under the terms of the Do What The Fuck You Want
To Public License, Version 2, as published by Sam Hocevar. See
http://sam.zoy.org/wtfpl/COPYING for more details.
*/

/*
This style is intended to provide 4chan integration of the following
addons/userscripts, ordered by priority:
	* 4chan x + 4chan thread filter + /b/ackwash reloaded
	* 4chanplus
	* 4chan 4chrome

This style is designed for the following browsers, ordered alphabetically:
	* Google Chrome 10 or higher / Chromium latest / Canary latest
	* Mozilla Firefox 4.x or higher / Aurora latest / Nightly latest
*/
/*[[CustomScrollbars]]*/
@-moz-document domain(boards.4chan.org), domain(rs.4chan.org) {
/* Silhouette / Background Image */
	html, body {
		background: /*[[background]]*/ no-repeat fixed 100% 100% !important;
	}

	body {
		padding: 0 252px 0 2px !important;
	}
}

@-moz-document domain("4chan.org") {
/*[[helpertext]]*/
	body>br,
	body>hr,
	div[lock=off],
	div[lock=on],
	div.logo br:nth-of-type(1),
	div#logo,
	form table tbody>tr:nth-of-type(2) td[align="right"],
	form[name="delform"]>hr:last-of-type,
	form[name="delform"]>hr:nth-last-of-type(2),
	form[name="delform"]>br:last-of-type,
	form[name="delform"]>br[clear=left]:last-of-type,
	form[name="delform"]>center,
	html body span[style="left: 5px; position: absolute;"],
	html body>a:not([style="cursor: pointer; float: right;"]),
	scrollbarbutton,
	small,
	td[style^="padding: "]:not(#backwash_tipcell):not([style="padding: 10px 7px 7px 7px;"]):not([style="padding: 10px 7px 7px;"]),
	td.rules,
	th,
	#footer *:not(#navbot),
	#ft li.fill,
	#navbot *,
	#popular-threads,
	#recaptcha_logo,
	#recaptcha_tagline,
	#recent-images,
	#recent-threads,
	#rules,
	#recaptcha_switch_audio_btn,
	#recaptcha_whatsthis_btn,
	#recaptcha_reload_btn *,
	#quickrep tr:nth-of-type(4) b,
	#qr.auto:not(:hover) #recaptcha_reload_btn,
	.deletebuttons input[type="button"],
	.error:empty,
	.fill,
	.notice,
	.replymode,
	.postarea form>div,
	.postarea>form:first-child>table>tbody>tr:last-of-type,
	.postarea .refreshBtn,
	.yui-g,
	.yui-menu-shadow,
	.warnicon {
	/* Cleanup */
		display: none !important;
	}

	* {
	/* Defaults of all elements */
		font: 12px /*[[Font]]*/ !important;
		text-decoration: none !important;
	}

	::-webkit-scrollbar {
		width: 10px !important;
		height: 10px !important;
	}

	::-webkit-scrollbar-thumb {
		border: 1px solid;
	}

	::-webkit-scrollbar-track-piece:vertical {
		border-left: 0;
	}

	::-webkit-scrollbar-track-piece:horizontal {
		border-top: 0;
	}

	scrollbar,
	scrollcorner {
		-moz-appearance: none !important;
		width: 10px !important;
		height: 10px !important;
	}

	scrollbar[orient="vertical"] {
		border-left: 0;
	}

	scrollbar[orient="horizontal"] {
		border-top: 0;
	}

	thumb {
		-moz-appearance: none !important;
		border: 1px solid;
	}

	html,
	body {
		margin: 0 !important;
	}

	form[name="delform"]>table[align=right]:last-of-type {
		visibility: hidden;
	}
/*[[boardlogo]]*/
	div.logo img {
		position: fixed !important;
		right: 2px !important;
		bottom: 310px !important;
		width: 248px !important;
		height: 83px !important;
		margin: 0 !important;
		z-index: 1;
		opacity: 0.3;
		-webkit-transition: opacity .5s ease-in-out .5s;
		-moz-transition: opacity .5s ease-in-out .5s;
	}

	div.logo img:hover {
		opacity: 1;
	}

	div.logo img:hover {
		-webkit-transition: opacity .5s ease-in;
		-moz-transition: opacity .5s ease-in;
	}

	div.logo font[size="5"] span {
		font-size: 28px !important;
	}

	body>span>div {
	 /* 4watch */
		position: fixed !important;
		top: auto !important;
		left: auto !important;
		bottom: 440px !important;
		right: 0 !important;
		width: 248px;
	}

	hr {
		border: none !important;
		padding: 0 !important;
		height: 0;
		width: 100% !important;
		clear: both;
	}
/* Front Page */
	.boxcontent>hr,
	h3 {
		border: none !important;
	}

	.boxcontent input {
		height: 18px !important;
		vertical-align: bottom;
		margin-right: 1px !important;
	}

	.menubutton a {
		padding: 0 !important;
	}

	a.yuimenuitemlabel {
		padding: 0 20px !important;
	}

	a.yuimenuitemlabel:hover {
		background-color: transparent !important;
	}

	.bd,
	.bd ul,
	img {
		border: none !important;
	}

	#copyright {
		padding: 0 !important;
	}
/* Navigation */
	#header,
	#header>#navtop, /* Top Navigation */
	.pages /* Bottom Navigation */ {
		text-align: center !important;
		font-size: 0 !important;
		color: transparent !important;
		width: auto !important;
		height: 17px !important;
	}

	#header>#navtop {
	/* cripple the positioning of the top navigation */
		position: static !important;
		width: 100% !important;
	}
/*[[NavBarSticky]]*/
	#header,
	.pages {
		left: 0 !important;
		right: 250px !important;
		z-index: 3;
	}

	.pages {
		width: 100% !important;
		text-align: center !important;
		border-spacing: 0 !important;
		padding-right: 250px !important;
		right: 0 !important;
		z-index: 1;
	}

	#footer {
		z-index: -1;
		visibility: hidden;
		padding-top: 0 !important;
	}

	#navbot {
		font-size: 0 !important;
	}

	.pages,
	.pages * {
		border: none !important;
	}

	.pages td {
		padding: 0 !important;
	}

	.pages td:nth-of-type(1) {
		font-size: 9px !important;
		text-transform: uppercase;
	}

	#header a,
	.pages a,
	.pages b,
	.pages input {
		-moz-appearance: none;
		display: inline-block;
		font-size: 12px !important;
		height: 14px !important;
		text-align: center;
		margin: 0 1px;
		min-width: 14px;
		border: 0 none !important;
		padding: 0 !important;
		background: none transparent !important;
		text-align: center;
	}

	.pages input {
		margin-bottom: 2px !important;
	}

	.pages b,
	.pages input,
	a,
	.new {
		-webkit-transition: background-color .1s linear;
		-moz-transition: background-color .1s linear;
		border-radius: 9px;
	}

	#header a {
		padding: 0 !important;
	}
/* End of Navigation */
/* Post Form */
	.postarea form[name^="post"] {
		width: 248px;
	}

	.postarea table {
		padding: 0 !important;
		border-spacing: 0px !important;
		border-collapse: collapse !important;
	}

	form[name^="post"] td.postblock {
		width: 0 !important;
	}

	#qr, /* 4chan x's quick reply */
	#quickrep, /* 4chanplus's quick reply */
	div[id^="qr"] /* 4chan 4chrome's quick reply */ {
		width: 306px !important;
		z-index: 5 !important;
	}

	#qr {
		padding: 1px 2px 2px !important;
	}

	#qr,
	#qr input.inputtext:not([name="sub"]),
	#qr textarea,
	#qr_captcha,
	#qr .move,
	#qr form {
		width: 300px !important;
	}

	#qr input.inputtext[name="name"] {
		width: 190px !important;
	}

	#qr input.inputtext,
	#qr input[name="upfile"],
	#qr textarea {
		margin-top: 1px !important;
	}

	.postarea form[name^="post"] {
		/* Post From Positioning */
		position: fixed !important;
		z-index: 2;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 63px !important;
/*[[PstfrmPstion]]*/
	}

	input[name="recaptcha_response_field"] {
		outline: none !important;
		box-shadow: none !important;
	}

/* Postform Labels */
	.boxcontent .postblock,
	form[name^="post"] .postblock,
	#quickrep td.postblock {
		border: none !important;
		background-color: transparent !important;
		font-weight: 200 !important;
		text-align: right !important;
		vertical-align: bottom;
		padding-bottom: 12px !important;
	}

	#quickrep td.postblock {
		padding-bottom: 13px !important;
	}

	#qr form[name^="post"] .postblock b {
		margin-top: -13px !important;
	}

	form[name^="post"] .postblock b,
	#maxchars /* 4chanplus's Character Counter */ {
		position: absolute;
		font-size: 9px !important;
		text-transform: uppercase;
		z-index: 2;
	}
/* Custom Postform Labels */
	form[name^="post"] tr:nth-of-type(1) .postblock b:after {
		content: "#TRIPCODE##SECURETRIP";
	}

	form[name^="post"] tr:nth-of-type(2) .postblock b:after {
		content: " | NOKO | SAGE";
	}

	.postarea tbody>tr:nth-child(4) .postblock b {
		font-size: 0 !important;
		color: transparent !important;
	}

	.postarea tr:nth-child(4) .postblock b:after {
		font-size: 9px !important;
		content: 'NEW THREAD' !important;
	}

	table[width="100%"]~.postarea tr:nth-child(4) .postblock b:after {
		content: 'REPLY' !important;
	}

	.postarea form[name^="post"] tr .postblock b {
		right: 3px;
		margin-top: -1px;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	.postarea form[name^="post"] tr .postblock b {
		margin-top: -2px;
	}

	.postarea form[name^="post"] tr:nth-of-type(3n) .postblock b {
		right: 54px;
	}

	form[name^="post"] tr .postblock b {
		right: 16px;
	}

	form[name^="post"] tr:nth-of-type(3n) .postblock b {
		right: 67px;
	}

	.fake input[type="file"]::-webkit-file-upload-button, /* Cheating. Firefox Stylish will ignore this block */
	.postarea form[name^="post"] tr:nth-of-type(6) .postblock b {
		right: 3px !important;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	form[name^="post"] tr:nth-of-type(6) .postblock b {
		right: 16px;
	}
/* End of Post Form Labels */
	#ft li,
	#ft ul,
	#options input:not([type="checkbox"]),
	#updater input:not([type="checkbox"]),
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	[name="recaptcha_response_field"],
	.top-box,
	h2,
	input:not([type="checkbox"]),
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	.inputtext {
		margin: 0 !important;
	}

	.top-box .menubutton {
		background-image: none !important;
	}

	.deletebuttons input[type="password"] {
		height: 19px !important;
	}

	.recaptcha_image_cell>center>#recaptcha_image {
		background-color: transparent !important;
		margin-left: 0 !important;
	}

	.postarea form[name^="post"] input[type="text"],
	.postarea form[name^="post"] input[type="password"],
	.postarea form[name^="post"] textarea {
		width: 248px !important;
	}

	form[name^="post"] input.inputtext,
	form[name^="post"] input[type="file"][name="upfile"]>input[type="text"],
	form[name^="post"] textarea {
		width: 300px !important;
	}

	.inputtext,
	input[name="upfile"]>input[type="text"] {
		padding: 2px !important;
	}

	div.move input,
	form[name^="post"] input[type="text"],
	form[name^="post"] input[type="password"],
	input[type="file"][name="upfile"]>input[type="text"],
	input[type="file"]>input[type="button"] {
		height: 19px !important;
	}

	.postarea form[name^="post"] input[type="file"][name="upfile"]>input[type="text"],
	.postarea form[name^="post"] input[name="sub"] {
		width: 197px !important;
	}

	form[name^="post"] input[name="sub"],
	form[name^="post"] input[type="file"][name="upfile"]>input[type="text"] {
		width: 249px !important;
		margin: 0 1px 0 0 !important;
		vertical-align: bottom;
	}

	input[type="submit"],
	#com_submit,
	input[type="file"]>input[type="button"] {
	/* Fancy formatting for all our postform buttons */
		width: 50px !important;
		height: 19px !important;
		margin: 0 !important;
		padding: 0 !important;
		font-size: 9px !important;
		text-transform: uppercase;
		vertical-align: bottom;
	}

	input[type="file"]::-webkit-file-upload-button {
	/* Webkit's file input box has a different syntax */
		background: transparent;
		border: none !important;
		height: 19px !important;
		padding: 0 !important;
		text-transform: uppercase;
	}
/* End of the file upload input */
	.postarea form[name^="post"] textarea {
		height: 78px !important;
		font-size: 10pt !important;
		margin: 0 !important;
	}

	form[name^="post"] textarea {
		height: 120px !important;
		margin: 0 !important;
		resize: none;
	}

	.postarea td,
	td.reply,
	td.replyhl {
		z-index: 0;
		padding: 0 !important;
	}

	#thread_filter input,
	.postarea form[name^="post"] input[name="sub"],
	.postarea form[name^="post"] textarea.inputtext,
	.postarea form[name^="post"] td>input,
	.postarea form[name^="post"] .recaptchatable,
	.postarea form[name^="post"] input[name="recaptcha_response_field"] {
		margin-top: 1px !important;
	}

	.postarea form[name^="post"] td>input[name="upfile"] {
		width: 248px !important;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	.postarea form[name^="post"] input[name="upfile"],
	#quickrep form[name^="post"] input[name="upfile"] {
		margin: 1px 0 0 !important;
		height: 19px !important;
	}

	form[name^="post"] input[type=file][name="upfile"] {
		width: 300px !important;
	}

	.recaptchatable td.recaptcha_image_cell,
	td[style="padding-left: 7px;"] {
		padding: 0 !important;
	}

	#recaptcha_image img,
	#quick_recaptcha_image img {
		opacity: 0.5;
	}

	.recaptcha_input_area {
		padding: 0 !important;
	}

	.postarea form[name^="post"] .recaptcha_image_cell>center,
	#r_captcha_div img,
	#r_captcha_div input {
		width: 248px !important;
		text-align: left !important;
	}

	.postarea form[name^="post"] #recaptcha_widget_div {
		height: auto !important;
		width: 248px !important;
	}

	.postarea .recaptcha_image_cell>center,
	.postarea .recaptcha_image_cell,
	tr[height="73"] td,
	form[name^="post"] tr[height="73"] {
		height: auto !important;
	}

	#qr tr[height="73"]:nth-of-type(2),
	#quickrep tr[height="73"] td:nth-of-type(2),
	#quickrep td.postblock,
	div[id^="qr"] tr[height="73"]:nth-of-type(2) {
		padding: 0 !important;
	}
/* Custom Captcha Reload Image */
	#quickrep .refreshBtn,
	#recaptcha_reload_btn,
	.refreshBtn {
		position: absolute !important;
		height: 0 !important;
		width: 0 !important;
		padding: 12px 0 0 12px !important;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAZ0lEQVR4XgXAsQ0BUQCA4c8kSrOo70KntAgxgkl05CV2sMOVEo2ofgEAYAIAdp6SRQBwkSQJgL3kbJYEwPC1BgArIFcAwAvIFgAcBQwAQAawQZK7g0UmAJKPt+QEAPlJHmYA4AYA8AeJKy3vtXoiawAAAABJRU5ErkJggg==") no-repeat !important;
		overflow: hidden;
		z-index: 1 !important;
	}

	.postarea form[name^="post"] #recaptcha_reload_btn {
		bottom: 62px !important;
		right: 2px !important;
	}

	#qr #recaptcha_reload_btn {
		bottom: 64px !important;
		right: 4px !important;
	}

	form[name^="post"] #recaptcha_reload_btn,
	.refreshBtn {
		bottom: 76px !important;
		right: 15px !important;
	}

	#dragarea>div:nth-of-type(2) {
		width: 260px !important;
	}

	#maxchars {
		bottom: 131px;
		right: 12px;
	}

	#quickrep td>table {
		border-spacing: 0;
	}

/* Spoiler Image Checkbox */
	form[name^="post"] tr:nth-of-type(3)>td:nth-of-type(3) {
	/* Removes the brackets around Spoiler Image */
		font-size: 0 !important;
		color: transparent;
	}

	form[name^="post"] label {
	/* Spoiler Image label */
		position: absolute;
		top: auto;
		font-size: 12px !important;
		bottom: 0;
		right: 55px;
		vertical-align: bottom;
	}

	#qr>form[name^="post"] label,
	#quickrep>form[name^="post"] label,
	[id^="qr"] label {
		bottom: 14px;
		right: 70px;
	}

	#autonoko /* 4chanplus's autonoko */ {
		position: absolute;
		font-size: 12px !important;
		right: 91px;
		display: none;
	}

	div.postarea>form td:nth-of-type(3)>label input,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	form[name="delform"]>div:not(.thread) input,
	.deletebuttons input[type="checkbox"] {
		vertical-align: middle;
	}

	form[name^="post"] td:nth-of-type(3)>label input,
	#qr label input,
	.boxcontent input,
	.boxcontent textarea {
		-moz-appearance: none;
		-webkit-appearance: button;
		border: 0 !important;
	}

	input[type=checkbox],
	.reply input[type=checkbox],
	#options input[type=checkbox] {
		-moz-appearance: none;
		-webkit-appearance: button !important;
		width: 12px !important;
		height: 12px !important;
		cursor: pointer !important;
	}
/* Posts */
	form[name="delform"] {
		padding: 17px 0 !important;
		margin: 0 !important;
	}

/*[[ReplyWidth]]*/

	form[name="delform"]>table:not(.pages),
	div.thread>table,
	.insertedPosts>table {
		margin: 2px 0 0 !important;
		border-spacing: 0 !important;
	}

	form[name="delform"] a img {
		border: 0;
		float: left;
		margin: 0 20px 20px !important;
	}

	form[name="delform"] a img+img {
		margin: 0 0 20px !important;
	}

	.filesize {
		margin-top: 17px !important;
	}
/*[[expandfile]]*/
	.doubledash {
		visibility: hidden;
		font-size: 0 !important;
		color: transparent !important;
	}

	.doubledash a {
		visibility: visible;
		position: absolute;
		right: 255px;
	}

	.doubledash a:hover {
		background-color: transparent !important;
	}

	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide) {
		border: 0 !important;
	}

	.commentpostername a.linkmail[href$="sage"]:after {
/*[[sageidentifier]]*/
	}

	.spoiler:not(:hover),
	.spoiler:not(:hover) .unkfunc,
	.spoiler:not(:hover) a {
		/* Fixes text spoilers */
		color: #000 !important;
	}

	.span.filetitle,
	.replytitle,
	.postername,
	.commentpostername,
	.postertrip {
		background: transparent !important;
	}

	.postername,
	.commentpostername {
		font-weight: 700 !important;
	}
/* Addons and such */
	body>a[style="cursor: pointer; float: right;"] {
		margin-top: 17px;
	}

	body>div[style="width: 100%;"] {
		margin-top: 34px;
	}

	#qr,
	#quickrep,
	div[id^="qr"],
	table.reply[style^="clear: both"] {
		border: none !important;
	}

	#qr td {
		padding: 0 !important;
	}

	#navtopr {
		position: fixed;
		right: 55px !important;
		left: auto !important;
		top: 0 !important;
		bottom: auto !important;
		font-size: 0 !important;
		color: transparent !important;
	}

	#navbar,
	#boardsMenu,
	#popup,
	.navbar2, /* 4chanplus - submenus */
	#crntBoard, /* 4chanplus - "current board" */
	#quickrep {
		-webkit-border-radius: 0 !important;
		border-radius: 0 !important;
		-webkit-box-shadow: none !important;
	}

	#navbar {
		margin-left: -265px !important;
		bottom: 18px !important;
		height: 26px !important;
	}

	table[width="100%"]~#navbar {
		bottom: 0 !important;
	}

	#crntBoard {
		height: 24px !important;
	}

/* Expand Images div */
	#imgControls {
		position: fixed;
		top: 0;
		right: 106px;
		bottom: auto !important;
		width: 145px;
		font-size: 12px !important;
		z-index: 2;
	}

	#imgControls input {
		width: 10px !important;
		height: 10px !important;
		margin: 4px 1px !important;
		vertical-align: top !important;
	}

	#imgControls label {
		font-size: 0px !important;
		color: transparent  !important;
	}

	#imgControls label:after {
		font-size: 12px !important;
		content: "Expand";
	}

	#imgControls select {
		float: right !important;
	}

	select>button,
	select>input {
		opacity: 0;
	}

	#imgControls select>option {
		font-size: 10px !important;
	}
/* End of Expand Images div */
/* Reply Previews */
	#backwash_tooltip, /* /b/ackwash reloaded */
	#popup, /* 4chanplus */
	#qp, /* 4chan x Quote Preview */
	div[id^=ref] /* 4chan4chrome */ {
		max-width: 70%;
		visibility: visible;
	}

	#qp {
		padding: 2px 6px !important;
	}

	#backwash_tooltip,
	#popup,
	#qp,
	div[id^="ref"] {
		visibility: visible;
		z-index: 10 !important;
	}

	#backwash_tooltip img,
	#popup img,
	#qp img,
	div[id^="ref"] img {
		max-width: 300px;
		height: auto !important;
	}

	#popup>img {
		max-width: 68% !important;
	}

	.deletebuttons {
		position: fixed !important;
		top: auto !important;
		right: 2px !important;
		bottom: 22px !important;
		left: auto !important;
		visibility: visible !important;
	}
/* End of Reply Previews */
	.deletebuttons br {
		display: inline !important;
	}

	.navlinks,
	#navlinks {
		right: 255px !important;
	}

	#navlinks {
		top: 0 !important;
		z-index: 3 !important;
	}
/* Sidebar 4chan x options */
	#options {
		position: fixed !important;
		top: 17px !important;
		bottom: 2px !important;
		right: 2px !important;
		left: auto !important;
		border: 0 !important;
		z-index: 99 !important;
		text-align: right !important;
		width: 238px !important;
	}

	#options .move {
		text-decoration: underline !important;
		font-size: 16px !important;
	}

	#options .move a {
	/* Close Button */
		position: fixed;
		top: 22px;
		right: 230px;
		font-size: 20px !important;
	}
/* End of Sidebar 4chan x options */
/*[[fixedFilter]]*/
	#thread_filter {
		padding: 3px 0;
		border: 0 !important;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		font-size: 12px !important;
		z-index: 4 !important;
	}

	#updater {
		right: 2px !important;
		left: auto !important;
		top: 0 !important;
		bottom: auto !important;
		border: 0 !important;
		font-size: 12px;
		overflow: hidden;
		z-index: 5 !important;
		padding-bottom: 2px;
	}

	#updater #count:not(.new) {
		font-size: 0 !important;
		color: transparent !important;
	}

	#updater #count:not(.new):after {
		font-size: 12px !important;
		content: "+0";
	}

	#updater .error {
		position: fixed;
		top: 0;
		right: 10px;
		font-size: 48pt;
	}

	#watcher /* 4chan x thread watcher */ {
		position: fixed !important;
		top: 17px !important;
		right: 2px !important;
		bottom: auto !important;
		left: auto !important;
		width: 248px !important;
	}

	#backwash_tooltip,
	#qp,
	#popup,
	div[id^=ref],
	td.reply,
	td.replyhl,
	#options,
	#navbar,
	#popup,
	#boardsMenu {
		border: 0 !important;
	}

	#watcher,
	#threadwatcher /* 4chan4chrome's threadwatcher */ {
		border: 0 !important;
		border-radius: 0;
		padding: 1px 0;
		overflow: hidden;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		z-index: 2 !important;
	}

	#threadwatcher .postblock {
		margin: 0 !important;
		padding: 0 !important;
		border: 0 !important;
	}

	#watcher .move,
	#threadwatcher .postblock {
		padding: 2px 3px !important;
		margin-bottom: 2px !important;
		text-decoration: none !important;
	}

	#watcher .move,
	#updater .move,
	#options .move {
		cursor: default !important;
	}
/*[[PagesPosition]]*/
/*[[ColorScheme]]*/
/* Adblock */
	img[src^="http://static.4chan.org/support/"] {
		display: none;
	}
}

@-moz-document domain(rs.4chan.org) {
/* /rs/ hacks */
	.postarea {
		margin-top: 20px !important;
	}

	.postarea form:first-child,
	.postarea .postblock,
	.postarea .postblock b {
		position: static !important;
	}

	body table table {
		width: 100% !important;
	}

	.postarea tr:nth-of-type(1) .postblock b:after {
		content: "";
	}

	.postarea tr:nth-of-type(2) .postblock b:after {
		content: "";
	}

	td.postblock {
		border: none !important;
	}
}

@-moz-document url-prefix('http://www.4chan.org/') {
	html,
	body {
		height: 100%;
		width: 100%;
	}

	body {
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		display: -moz-box;
		-moz-box-pack: center;
		-moz-box-align: center;
	}

	#doc,
	#ft ul {
		min-width: 0 !important;
		max-width: 1280px !important;
		width: auto !important;
	}

	#ft ul {
		text-align: center !important;
	}

	#ft li {
		float: none !important;
		display: inline-block !important;
		margin: 0 !important;
		padding: 0 12px !important;
	}

	#boards .column {
		width: auto !important;
		margin: 0px 5px 0px 5px !important;
	}
}

@-moz-document domain("images.4chan.org"),
url("http://www.4chan.org/banned") {
	html {
		display: table;
	}

	body {
		display: table-cell;
		vertical-align: middle;
	}

	img {
		display: block;
		margin: auto;
	}

	#ft ul {
		text-align: center !important;
	}

	#ft li {
		float: none !important;
		display: inline-block !important;
	}
}

@-moz-document url-prefix("http://www.4chan.org"),
domain("rs.4chan.org"),
domain("sys.4chan.org") {
	html, body {
		background-image: none !important;
	}
}
/*[[CrntBrdHlt]]*/
