/*
AppChan by Zixaphir, MayhemYDG, disappoint

This text is free. It comes without any warranty, to
the extent permitted by applicable law. You can redistribute it
and/or modify it under the terms of the Do What The Fuck You Want
To Public License, Version 2, as published by Sam Hocevar. See
http://sam.zoy.org/wtfpl/COPYING for more details.
*/

/*
This style is intended to provide 4chan integration of the following addons/userscripts, ordered by priority:
	* 4chan x + 4chan thread filter + /b/ackwash reloaded
	* 4chanplus
	* 4chan 4chrome

This style is designed for the following browsers, ordered alphabetically:
	* Google Chrome 10 or higher / Chromium latest / Canary latest
	* Mozilla Firefox 4.x or higher / Minefield latest
*/

@-moz-document domain(boards.4chan.org) {
/* Silhouette / Background Image */
	html, body {
		background-image: /*[[background]]*/ !important;
		background-position: 100% 100% !important;
		background-repeat: no-repeat !important;
		background-attachment: fixed !important;
	}
}

@-moz-document domain("4chan.org") {
	/*[[boardlogo]]*/
	scrollbarbutton,
	html body span[style="left: 5px; position: absolute;"],
	html body>a,
	body>br,
	body>hr,
	small,
	th,
	td.rules,
	div.logo img,
	div.logo br:nth-of-type(1),
	div#logo,
	#recent-images,
	#recent-threads,
	#popular-threads,
	.fill,
	div>div>div>div:nth-of-type(2)>div:nth-of-type(3):not(.column),
	.warnicon,
	#rules,
	.postarea .rules,
	.postarea small,
	.postarea .refreshBtn,
	#recaptcha_logo,
	#recaptcha_tagline,
	.notice,
	.replymode,
	.postarea form>div,
	#footer,
	div[lock=off],
	div[lock=on],
	.deletebuttons input[type=button],
	td[style^="padding: "]:not(#backwash_tipcell):not([style="padding: 10px 7px 7px 7px;"]):not([style="padding: 10px 7px 7px;"]),
	form table tbody>tr:nth-of-type(2) td[align="right"],
	form[name=delform]>hr:last-of-type,
	form[name=delform]>hr:nth-last-of-type(2),
	form[name=delform]>br:last-of-type,
	form[name=delform]>br[clear=left]:last-of-type,
	form[name=delform]>center,
	#recaptcha_switch_audio_btn,
	#recaptcha_whatsthis_btn,
	#recaptcha_reload_btn *,
	#quickrep tr:nth-of-type(4),
	#ft li.fill,
	.yui-menu-shadow {
	/* Cleanup */
		display: none !important;
	}

	* {
	/* Defaults of all elements */
		font: 12px "Ubuntu", "Droid Sans", "Calibri" !important;
		text-decoration: none !important;
		color: #aaa !important;
	}
/* Scrollbars */
	::-webkit-scrollbar {
		width: 10px !important;
		height: 10px !important;
	}

	::-webkit-scrollbar-thumb {
		background: #262626;
		border: 1px #333 solid;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #3f3f3f;
	}

	::-webkit-scrollbar-thumb:active {
		background: #111;
	}

	::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {
		background: #333;
	}

	::-webkit-scrollbar-track-piece:vertical {
		border-left: 0;
	}

	::-webkit-scrollbar-track-piece:horizontal {
		border-top: 0;
	}

	scrollbar, scrollcorner {
		-moz-appearance: none !important;
		background: #333;
		width: 10px !important;
		height: 10px !important;
	}

	scrollbar[orient="vertical"] {
		border-left: 0;
	}

	scrollbar[orient="horizontal"] {
		border-top: 0;
	}

	thumb {
		-moz-appearance: none !important;
		background: #262626;
		border: 1px #333 solid;
	}

	thumb:hover {
		background: #3f3f3f;
	}

	thumb:active {
		background: #111;
	}
/* End of Scrollbars */
	html, body {
		background-color: #2c2c2c !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	a,
	.postername a,
	.commentpostername a,
	a .postertrip {
		color: #68a !important;
	}

	a:hover,
	.postername a:hover,
	.commentpostername a:hover,
	a:hover .postertrip {
		color: #444 !important;
	}

	.span.filetitle,
	.replytitle {
		color: #909090 !important;
	}

	.unkfunc {
		color: #789922 !important;
	}

	select:focus>button,
	form[name=delform]>table[align=right]:last-of-type {
		visibility: hidden;
	}

	div.logo {
		position: fixed !important;
		right: 4px !important;
		bottom: 370px !important;
		width: 246px !important;
		z-index: 1;
	}
	
	div.logo font[size="5"] span {
		font-size: 28px !important;
	}

	form[name="delform"] {
		padding: 14px 254px 0 0 !important;
	}

	body>span>div {
	 /* 4watch */
		position: fixed !important;
		top: auto !important;
		left: auto !important;
		bottom: 440px !important;
		right: 0 !important;
		width: 248px;
	}

	hr {
		border: none !important;
		padding: 0 !important;
		height: 0;
		width: 100% !important;
	}
/* Front Page */
	.boxcontent>hr,
	h3 {
		background: #2c2c2c !important;
		border: none !important;
	}

	.boxcontent dd {
		border-bottom-color: #2c2c2c !important;
	}

	#boards h3 {
		background: #333 !important;
	}

	.boxcontent input {
		height: 18px !important;
		vertical-align: bottom;
		margin-right: 1px !important;
	}
	
	.menubutton a {
		padding: 0 !important;
	}
	
	a.yuimenuitemlabel {
		padding: 0 20px !important;
	}
	
	a.yuimenuitemlabel:hover {
		background-color: transparent !important;
	}
	
	.yuimenuitem-selected {
		background-color: #333 !important;
	}
	
	.bd {
		background-color: #2c2c2c !important;
		border: none !important;
	}
	
	.bd ul {
		border: none !important;	
	}
/* Navigation */
	#header,
	#header>#navtop, /* Top Navigation */
	.pages /* Bottom Navigation */ {
		font-family: "Calibri", "DejaVu Sans", "Lucidia Sans" !important;
		text-align: center !important;
		font-size: 0 !important;
		color: transparent !important;
		width: auto !important;
		height: 17px !important;
	}

	#header>#navtop {
	/* cripple the positioning of the top navigation */
		position: static !important;
		width: 100% !important;
	}

	#header,
	.pages {
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		right: 250px !important;
		padding: 0 2px 0 2px !important;
		background-color: #2c2c2c !important;
		z-index: 1
	}

	.pages {
		top: auto !important;
		bottom: 0 !important;
		right: 0 !important;
		border: 0 !important;
		width: 100% !important;
		padding-right: 250px !important;
		text-align: center !important;
	}

	#header a,
	.pages a,
	.pages b,
	.pages input {
		-moz-appearance: none;
		display: inline-block;
		font-size: 12px !important;
		height: 14px !important;
		text-align: center;
		margin: 0 1px;
		min-width: 14px;
		border: 0 none !important;
		padding: 0 !important;
		background: none transparent !important;
		text-align: center;
	}

	#header a,
	.pages a,
	.pages b,
	.pages input,
	a,
	.new {
		-webkit-transition: background-color .1s linear;
		-moz-transition: background-color .1s linear;
		-o-transition: background-color .1s linear;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		border-radius: 9px;
	}

	#header a {
		padding: 0 0 0 1px !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
	}

	#navtop a:hover,
	#navtopr a:hover,
	.pages a:hover,
	.pages input:hover,
	a:hover,
	.new {
	/* URL bubbles */
		background: rgba(0,0,0,.2) !important;
	}
/* End of Navigation
   Post Form */
	.postarea form:not(#newform),
	.postarea table,
	.postarea tbody {
		max-width: 248px !important;
		min-width: 248px !important;
		width: 248px;
		padding: 0 !important;
		border-spacing: 1px !important;
	}

	#qr, /* 4chan x's quick reply */
	#quickrep, /* 4chanplus's quick reply */
	div[id^=qr] /* 4chan 4chrome's quick reply */ {
		width: 326px !important;
		z-index: 2 !important;
	}

	.postarea form:first-child {
		/* Post From Positioning */
		position: fixed !important;
		z-index: 2;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 59px !important;
		right: 5px !important;
	}
/* Postform Labels */
	.postarea .postblock,
	.boxcontent .postblock,
	#qr .postblock,
	#quickrep .postblock,
	div[id^=qr] .postblock {
		border: none !important;
		background-color: transparent !important;
		font-weight: 200 !important;
		text-align: right !important;
		vertical-align: bottom;
		padding-bottom: 12px !important;
	}

	.postarea .postblock b,
	#qr .postblock b,
	#quickrep .postblock b,
	div[id^=qr] .postblock b,
	#maxchars /* 4chanplus's Character Counter */ {
		position: absolute;
		font-size: 9px !important;
		color: rgba(255,255,255,0.2) !important;
		text-transform: uppercase;
		z-index: 2;
	}
/* Custom Postform Labels, courtesy of K.WeEabo0o's 4chan reboot */
	.postarea tr:nth-of-type(1) .postblock b:after {
		content: "#TRIPCODE##SECURETRIP";
	}

	.postarea tr:nth-of-type(2) .postblock b:after {
		content: " | NOKO | SAGE";
	}

	.postarea tbody>tr:nth-child(4)>.postblock > b {
		font-size: 0 !important;
		color: transparent !important;
	}

	table[width="100%"]~.postarea tbody>tr:nth-child(4)>.postblock>b:after {
		content: 'REPLY' !important;
	}

	.postarea tbody>tr:nth-child(4)>.postblock>b:after {
		font-size: 9px !important;
		color: rgba(255,255,255,0.2) !important;
		content: 'NEW THREAD' !important;
	}

	.postarea tr .postblock b {
		right: 0;
	}

	.postarea tr:nth-of-type(3) .postblock b,
	.postarea tr:nth-of-type(6) .postblock b {
		right: 51px;
	}

	#qr tr .postblock b,
	#quickrep tr .postblock b,
	div[id^=qr] tr .postblock b {
		right: 16px;
	}

	#qr tr:nth-of-type(3) .postblock b,
	#qr tr:nth-of-type(6) .postblock b,
	#quickrep tr:nth-of-type(3) .postblock b,
	#quickrep tr:nth-of-type(6) .postblock b,
	div[id^=qr] tr:nth-of-type(3) .postblock b,
	div[id^=qr] tr:nth-of-type(6) .postblock b {
		right: 67px;
	}
/* End of Post Form Labels */
	.postarea input,
	.postarea input[type=submit],
	.postarea textarea,
	.postarea .recaptcha_image_cell>center>#recaptcha_image,
	.postarea .recaptchatable #recaptcha_response_field,
	#qr input,
	#qr input[type=submit],
	#qr textarea,
	#qr .recaptcha_image_cell>center>#recaptcha_image,
	#qr .recaptchatable #recaptcha_response_field,
	#quickrep input,
	#quickrep input[type=submit],
	#quickrep textarea,
	#quickrep .recaptcha_image_cell>center>#recaptcha_image,
	#quickrep .recaptchatable #recaptcha_response_field,
	.deletebuttons input[value=Delete],
	#options input,
	#options textarea,
	#updater input,
	input,
	textarea,
	select,
	input[type=checkbox],
	div[id^=qr] input,
	div[id^=qr] input[type=submit],
	div[id^=qr] textarea,
	div[id^=qr] .recaptcha_image_cell>center>#recaptcha_image,
	div[id^=qr] .recaptchatable #recaptcha_response_field,
	#ft ul,
	#ft li,
	h2,
	.boxbar,
	.box-outer,
	.top-box {
	/* huge block of generic formatting. :/ */
		-moz-appearance: none;
		-webkit-appearance: none;
		border: none 0 !important;
		background-color: #333 !important;
		color: #aaa !important;
	}

	.postarea input:hover,
	.postarea input[type=submit]:hover,
	.postarea textarea:hover,
	.postarea .recaptchatable #recaptcha_response_field:hover,
	#qr input:hover,
	#qr input[type=submit]:hover,
	#qr textarea:hover,
	#qr .recaptchatable #recaptcha_response_field:hover,
	#quickrep input:hover,
	#quickrep input[type=submit]:hover,
	#quickrep textarea:hover,
	#quickrep .recaptchatable #recaptcha_response_field:hover,
	div[id^=qr] input:hover,
	div[id^=qr] input[type=submit]:hover,
	div[id^=qr] textarea:hover,
	div[id^=qr] .recaptchatable #recaptcha_response_field:hover {
		background-color: #393939 !important;
	}

	.postarea input:focus,
	.postarea input[type=submit]:focus,
	.postarea textarea:focus,
	.postarea .recaptchatable #recaptcha_response_field:focus,
	#qr input:focus,
	#qr input[type=submit]:focus,
	#qr textarea:focus,
	#qr .recaptcha_image_cell>center>#recaptcha_image:focus,
	#qr .recaptchatable #recaptcha_response_field:focus,
	#quickrep input:focus,
	#quickrep input[type=submit]:focus,
	#quickrep textarea:focus,
	#quickrep .recaptchatable #recaptcha_response_field:focus,
	div[id^=qr] input:focus,
	div[id^=qr] input[type=submit]:focus,
	div[id^=qr] textarea:focus,
	div[id^=qr] .recaptchatable #recaptcha_response_field:focus {
		background-color: #3f3f3f !important;
	}

	.top-box .menubutton {
		background-image: none !important;
	}

	.deletebuttons input[type=password] {
		height: 19px !important;
	}

	.postarea .recaptcha_image_cell>center>#recaptcha_image,
	#qr .recaptcha_image_cell>center>#recaptcha_image,
	#quickrep .recaptcha_image_cell>center>#recaptcha_image,
	div[id^=qr] .recaptcha_image_cell>center>#recaptcha_image {
		background-color: transparent !important;
		margin-left: 0 !important;
	}

	.postarea input[type=text],
	.postarea input[type=password],
	.postarea input[type=file][name="upfile"] > input[type=text],
	.postarea input[type=file] > input[type=button],
	.postarea textarea.inputtext,
	#qr input[type=text],
	#qr input[type=password],
	#qr input[type=file][name="upfile"] > input[type=text],
	#qr input[type=file] > input[type=button],
	#qr textarea.inputtext,
	#quickrep input[type=text],
	#quickrep input[type=password],
	#quickrep input[type=file][name="upfile"] > input[type=text],
	#quickrep input[type=file] > input[type=button],
	#quickrep textarea.inputtext,
	div[id^=qr] input[type=text],
	div[id^=qr] input[type=password],
	div[id^=qr] input[type=file][name="upfile"] > input[type=text],
	div[id^=qr] input[type=file] > input[type=button],
	div[id^=qr] textarea.inputtext {
		width: 248px !important;
		padding: 1px 0 1px 0 !important;
		z-index: 1;
	}

	#qr input[type=text],
	#qr input[type=password],
	#qr input[type=file][name="upfile"] > input[type=text],
	#qr input[type=file] > input[type=button],
	#qr textarea.inputtext,
	#quickrep input[type=text],
	#quickrep input[type=password],
	#quickrep input[type=file][name="upfile"] > input[type=text],
	#quickrep input[type=file] > input[type=button],
	#quickrep textarea.inputtext,
	div[id^=qr] input[type=text],
	div[id^=qr] input[type=password],
	div[id^=qr] input[type=file][name="upfile"] > input[type=text],
	div[id^=qr] input[type=file] > input[type=button],
	div[id^=qr] textarea.inputtext {
		width: 300px !important;
	}
/* The file upload input */
	.postarea input[type=text],
	.postarea input[type=password],
	.postarea input[type=file][name="upfile"] > input[type=text],
	.postarea input[type=file] > input[type=button],
	#qr input[type=text],
	#qr input[type=password],
	#qr input[type=file][name="upfile"] > input[type=text],
	#qr input[type=file] > input[type=button],
	#quickrep input[type=text],
	#quickrep input[type=password],
	#quickrep input[type=file][name="upfile"] > input[type=text],
	#quickrep input[type=file] > input[type=button],
	div[id^=qr] input[type=text],
	div[id^=qr] input[type=password],
	div[id^=qr] input[type=file][name="upfile"] > input[type=text],
	div[id^=qr] input[type=file] > input[type=button] {
		height: 19px !important;
	}

	.postarea input[type=file] {
		z-index: 1;
	}

	.postarea input[name="sub"],
	.postarea input[type=file][name="upfile"] > input[type=text],
	#qr input[name="sub"],
	#qr input[type=file][name="upfile"] > input[type=text],
	#quickrep input[name="sub"],
	#quickrep input[type=file][name="upfile"] > input[type=text],
	div[id^=qr] input[name="sub"],
	div[id^=qr] input[type=file][name="upfile"] > input[type=text] {
		width: 197px !important;
		margin: 0 1px 0 0 !important;
		vertical-align: middle;
	}

	#qr input[name="sub"],
	#qr input[type=file][name="upfile"] > input[type=text],
	#quickrep input[name="sub"],
	#quickrep input[type=file][name="upfile"] > input[type=text],
	div[id^=qr] input[name="sub"],
	div[id^=qr] input[type=file][name="upfile"] > input[type=text] {
		width: 249px !important;
	}

	.postarea #com_submit,
	.postarea input[type=file] > input[type=button],
	.postarea input[type=submit],
	#qr #com_submit,
	#qr input[type=file] > input[type=button],
	#qr input[type=submit],
	#quickrep #com_submit,
	#quickrep input[type=file] > input[type=button],
	#quickrep input[type=submit],
	div[id^=qr] #com_submit,
	div[id^=qr] input[type=file] > input[type=button],
	div[id^=qr] input[type=submit] {
	/* Fancy formatting for all our postform buttons */
		width: 50px !important;
		height: 19px !important;
		margin: 0 0 0 0 !important;
		padding: 0 !important;
		font-size: 9px !important;
		text-transform: uppercase;
		background-color: #303030 !important;
		vertical-align: bottom;
	}

	.postarea #com_submit:hover,
	.postarea input[type=file] > input[type=button]:hover,
	.postarea input[type=submit]:hover,
	#qr #com_submit:hover,
	#qr input[type=file] > input[type=button]:hover,
	#qr input[type=submit]:hover,
	#quickrep #com_submit:hover,
	#quickrep input[type=file] > input[type=button]:hover,
	#quickrep input[type=submit]:hover,
	div[id^=qr] #com_submit:hover,
	div[id^=qr] input[type=file] > input[type=button]:hover,
	div[id^=qr] input[type=submit]:hover {
		background-color: #363636 !important;
	}

	.postarea input[type="file"]::-webkit-file-upload-button,
	#qr input[type="file"]::-webkit-file-upload-button,
	#quickrep input[type="file"]::-webkit-file-upload-button,
	div[id^=qr] input[type="file"]::-webkit-file-upload-button {
	/* Webkit's file input box has a different syntax */
		-moz-appearance: none;
		background: transparent;
		border: none !important;
		height: 19px !important;
		padding: 0 !important;
		color: #666 !important;
		text-transform: uppercase;
	}
/* End of the file upload input */
	.postarea textarea.inputtext,
	#qr textarea,
	#quickrep textarea,
	div[id^=qr] textarea {
		height: 78px !important;
		font-size: 10pt !important;
		resize: none;
	}

	#qr textarea,
	#quickrep textarea,
	div[id^=qr] textarea {
		height: 120px !important;
	}

	.postarea td,
	td.reply,
	td.replyhl {
		z-index: 0;
		padding: 0 !important;
	}
/* Captcha */
	.postarea td.recaptcha_image_cell,
	#qr td.recaptcha_image_cell,
	#quickrep td.recaptcha_image_cell,
	div[id^=qr] td.recaptcha_image_cell,
	td[style="padding-left: 7px;"] {
		padding: 0 !important;
	}

	.postarea .recaptcha_image_cell>center>#recaptcha_image,
	.postarea #recaptcha_image img {
		width: 248px !important;
		height: 47px !important;
	}

	#recaptcha_image img,
	#quick_recaptcha_image img {
		opacity: 0.5;
	}

	.recaptcha_input_area {
		padding: 1px 0 0 0 !important;
	}

	.postarea .recaptcha_image_cell>center,
	#r_captcha_div img,
	#r_captcha_div input {
		width: 250px !important;
		text-align: left !important;
	}

	.postarea #recaptcha_widget_div {
		height: 67px !important;
		width: 250px !important;
	}

	.postarea .recaptcha_image_cell>center,
	.postarea .recaptcha_image_cell,
	.postarea tr[height="73"],
	tr[height="73"] td,
	#qr tr[height="73"],
	#quickrep tr[height="73"],
	div[id^=qr] tr[height="73"] {
		height: auto !important;
	}

	#qr tr[height="73"]:nth-of-type(2),
	#quickrep tr[height="73"] td:nth-of-type(2),
	div[id^=qr] tr[height="73"]:nth-of-type(2) {
		padding: 0 !important;
	}
/* Custom Captcha Reload Image */
	#quickrep .refreshBtn,
	#recaptcha_reload_btn,
	.refreshBtn,
	div[id^=qr] #recaptcha_reload_btn {
		position: absolute !important;
		height: 0 !important;
		width: 0 !important;
		padding: 18px 0 0 24px !important;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAASCAQAAAAEJ70rAAAAlklEQVR42tXNsaqBYQDG8V8ppawmpewmJtMpSa7E5g5MchFGi2zqG84mZZILMDinxGSAyWDhtVu+1yS/7f8sj29VFakl8W+u7yxCxlJwtbYVBDmpuoIJGAmCslQbK1Aw0NGIeTmqvCxNKZKXLhlL0QYZP2pgZijCr7uboryxh7IIB8GfxE3QE+XiZGdvqi7SQtabcj7uCYdwJxLDNnixAAAAAElFTkSuQmCC") no-repeat !important;
		overflow: hidden;
		z-index: 1 !important;
	}

	#recaptcha_reload_btn {
		bottom: 63px !important;
		right: -5px !important;
	}

	#qr #recaptcha_reload_btn,
	.refreshBtn,
	div[id^=qr] #recaptcha_reload_btn {
		bottom: 74px !important;
		right: 12px !important;
	}

	#maxchars {
		bottom: 137px;
		right: 12px;
	}

	#quickrep td>table {
		border-spacing: 0;
	}

/* Spoiler Image Checkbox */
	div.postarea>form tr:nth-of-type(3)>td:nth-of-type(3) /* Removes the brackets around Spoiler Image? */ {
		font-size: 0 !important;
		color: transparent;
	}

	div.postarea>form td:nth-of-type(3)>label /* Spoiler Image label */ {
		position: fixed;
		top: auto;
		font-size: 12px !important;
		color: #888;
		bottom: 83px;
		right: 91px;
		vertical-align: bottom;
	}

	#autonoko /* 4chanplus's autonoko */ {
		position: absolute;
		font-size: 12px !important;
		color: #888;
		right: 91px;
		display: none;
	}

	div.postarea>form td:nth-of-type(3)>label input,
	form[name="delform"]>div:not(.thread) input,
	.deletebuttons input[type=checkbox] {
		vertical-align: middle;
	}
/* Quick Reply Auto? */
	#qr label:nth-of-type(1) {
		position: absolute !important;
		right: 100px;
	}

	#qr label:nth-of-type(2) {
		position: absolute !important;
		right: 97px;
		top: 279px;
	}

	div.postarea>form td:nth-of-type(3)>label input,
	#qr label input,
	.reply input[type=checkbox],
	#options input[type=checkbox],
	.boxcontent input,
	.boxcontent textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		border: 0 !important;
		background-color: #2c2c2c !important;
	}

/* Posts */
	form[name=delform]>table:not(.pages), /* Reply are tables. */
	div.thread>table, /* Replies are tables. A script like 4chan X is present */
	.insertedPosts>table, /* 4chanplus inserts new posts in a new div */
	td.reply, /* Reply cell */
	td.replyhl /* Highlighted Reply cell */ {
		width: 100% !important;
		border-spacing: 0 !important;
	}
	
	form[name=delform]>table:not(.pages),
	div.thread>table,
	.insertedPosts>table {
		margin: 2px !important;
	}

	.doubledash {
		visibility: hidden;
		position: absolute;
		right: 255px;
	}

	.doubeldash a {
		visiblity: visible;
		color: #222;
	}
	
	.omittedposts /* X posts and Y image replies omitted. Click Reply to view. */ {
		clear: both;
		padding-left: 20px;
		display: block !important;
	}

	td.reply, /* replies */
	td.replyhl, /* reply highlight */
	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	#options, /* 4chan x Options */
	#navbar,  /* 4chanplus's bar */
	#popup, /* 4chanplus's tooltip (reply previews, image hovering, etc) */
	#boardsMenu /* 4chan plus's boards */ {
		border: 0 !important;
		background-color: #333 !important;
	}

	.commentpostername a.linkmail[href="mailto:sage"]:after {
	/* sage identifier */
		content:" (sage) ";
		color: #e42217 !important;
		font-weight:normal !important;
	}

	#navbar,
	#boardsMenu,
	#popup,
	.navbar2, /* 4chanplus - submenus */
	#crntBoard, /* 4chanplus - "current board" */
	#quickrep {
		-webkit-border-radius: 0 !important;
		border-radius: 0 !important;
		-webkit-box-shadow: none !important;
	}

	#crntBoard {
		border-right-color: #393939 !important;
	}

	td.replyhl {
		background-color: #393939 !important;
	}

	.spoiler:not(:hover) {
		/* Fixes text spoilers */
		color: #000 !important;
	}

	.span.filetitle,
	.replytitle,
	.postername,
	.commentpostername,
	.postertrip {
		background: transparent !important;
	}
	
	.postername,
	.commentpostername {
		font-weight: 700 !important;
	}

	td>.inputtext {
		height: 17px !important;
		padding: 0 !important;
	}
/* Addons and such */
	#thread_filter input,
	#thread_filter textarea,
	#navtopr,
	#updater input,
	#qr,
	#quickrep,
	div[id^=qr], table.reply[style^="clear: both"] {
		background-color: #2c2c2c !important;
		border: none !important;
	}

	#thread_filter input {
		margin-top: 1px !important;
	}

	#navtopr {
		position: fixed;
		right: 85px !important;
		left: auto !important;
		top: 0 !important;
		font-size: 0 !important;
		color: transparent !important;
	}

	#navtopr,
	#navtopr * {
		z-index: 6 !important;
	}
/* Expand Images div */
	form[name="delform"]>div:not(.thread):not(.insertedPosts):first-of-type {
		position: fixed;
		top: 0;
		right: 131px;
		bottom: auto !important;
		width: 120px;
		font-size: 12px !important;
		z-index: 4;
	}
	
	form[name="delform"]>div:not(.thread):not(.insertedPosts) input {
		width: 10px !important;
		height: 10px !important;
		margin: 4px 1px !important;
	}

	form[name="delform"]>div:not(.thread) label {
		font-size: 0px !important;
		color: transparent  !important;
	}

	form[name="delform"] div:not(.thread) label:after {
		font-size: 12px !important;
		content: "Expand";
		color: #aaa !important;
	}

	form[name="delform"]>div:not(.thread) select {
		margin: 2px 0 0 0 !important;
		float: right !important;
		height: 13px !important;
		font-size: 10px !important;
	}
	
	form[name="delform"]>div:not(.thread) select option {
		font-size: 10px !important;
	}
	
/* End of Expand Images div
   Reply Previews */
	#backwash_tooltip, /* /b/ackwash reloaded */
	#popup, /* 4chanplus */
	div[id^=ref] /* 4chan4chrome */ {
		max-width: 70%;
		background-color: #393939 !important;
		visibility: visible;
	}

	#backwash_tooltip,
	#popup,
	div[id^=ref] {
		visibility: visible;
		border: 0 !important;
		z-index: 99 !important;
	}

	#backwash_tooltip img,
	#popup img,
	div[id^=ref] img {
		max-width: 300px;
		height: auto !important;
	}
	
	.deletebuttons {
		position: fixed !important;
		top: auto !important;
		right: 2px !important;
		bottom: 22px !important;
		left: auto !important;
		visibility: visible !important;
	}

	td[style="border: 1px dashed;"],
	td.reply>tr>td.reply {
		/* Inline Quotes */
		background-color: rgba(0,0,0,0.1) !important;
		border: none !important;
	}
/* End of Reply Previews */
	.deletebuttons br {
		display: inline !important;
	}

	.navlinks,
	#navlinks {
		right: 255px !important;
	}
	
	.navlinks {
		padding-top: 14px !important;
	}
/* Sidebar 4chan x options */
	#options {
		position: fixed !important;
		top: 14px !important;
		bottom: 2px !important;
		right: 2px !important;
		left: auto !important;
		border: 0 !important;
		z-index: 99 !important;
		text-align: right !important;
		width: 238px !important;
	}

	#options .move {
		text-decoration: underline !important;
		font-size: 16px !important;
	}

	#options .move a {
	/* Close Button */
		position: fixed;
		top: 22px;
		right: 230px;
		font-size: 20px !important;
	}
/* End of Sidebar 4chan x options */
	#thread_filter {
		width: 248px;
		padding: 3px 0;
		top: auto !important;
		right: 2px !important;
		bottom: 0 !important;
		left: auto !important;
		border: 0 !important;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		font-size: 12px !important;
		z-index: 4 !important;
	}

	#thread_filter>div:first-child  {
		cursor: default !important;
	}

	#updater {
		right: 2px !important;
		left: auto !important;
		top: 0 !important;
		bottom: auto !important;
		border: 0 !important;
		font-size: 12px;
		overflow: hidden;
		z-index: 2 !important;
		padding-bottom: 2px;
	}

	#updater .error {
		position: fixed;
		top: 0;
		right: 10px;
		font-size: 48pt;
	}

	#watcher /* 4chan x thread watcher */ {
		position: fixed !important;
		top: 17px !important;
		right: 2px !important;
		bottom: auto !important;
		left: auto !important;
		width: 248px !important;
	}

	#watcher,
	#threadwatcher /* 4chan4chrome's threadwatcher */{
		border: 0 !important;
		background-color: #333 !important;
		border-radius: 0;
		padding: 1px 0;
		overflow: hidden;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		z-index: 2 !important;
	}

	#threadwatcher .postblock {
		background-color: #333 !important;
		margin: 0 !important;
		padding: 0 !important;
		border: 0 !important;
	}

	#watcher .move,
	#threadwatcher .postblock {
		padding: 2px 3px !important;
		margin-bottom: 2px !important;
		border-bottom: 1px solid #2c2c2c !important;
		text-decoration: none !important;
	}

	#watcher .move,
	#updater .move,
	#options .move {
		cursor: default !important;
	}
/* Adblock */
	img[src*="http://static.4chan.org/"] {
		display: none;
	}
/* Spoiler Image Fix */
	img[src="http://static.4chan.org/image/spoiler-v.png"] {
		display: block !important;
	}
/* Favicon Fix */
	img[src*="http://static.4chan.org/image/favicon"],
	img[src="http://static.4chan.org/image/sticky.gif"] {
		display: inline;
	}

/*[[browserhacks]]*/
}

@-moz-document domain(rs.4chan.org) {
/* /rs/ hacks */
	.postarea {
		margin-top: 20px !important;
	}

	.postarea form:first-child,
	.postarea .postblock,
	.postarea .postblock b {
		position: static !important;
	}

	body table table {
		width: 100% !important;
	}
}

@-moz-document url-prefix('http://www.4chan.org/') {
	html,
	body {
		height: 100%;
		width: 100%;
	}

	body {
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		display: -moz-box;
		-moz-box-pack: center;
		-moz-box-align: center;
	}

	#doc,
	#ft ul {
		min-width: 0 !important;
		max-width: 1280px !important;
	}
	
	#ft ul {
		text-align: center !important;
	}
	
	#ft li {
		float: none !important;
		display: inline-block !important;
		margin: 0 !important;
		padding: 0 12px !important;
	}

	#boards .column {
		width: auto !important;
		margin: 0px 5px 0px 5px !important;
	}
}

@-moz-document url('http://www.4chan.org/'),
url('http://www.4chan.org/#') {
	#doc,
	#ft ul {
		min-width: 0 !important;
		width: auto !important;
		max-width: 1280px !important;
	}
}

@-moz-document domain("images.4chan.org"),
url("http://www.4chan.org/banned") {
	html {
		display: table;
	}

	body {
		display: table-cell;
		vertical-align: middle;
	}

	img {
		display: block;
		margin: auto;
	}
	
	#ft ul {
		text-align: center !important;
	}
	
	#ft li {
		float: none !important;
		display: inline-block !important;
	}
}

@-moz-document url-prefix("http://www.4chan.org"),
domain("rs.4chan.org") {
	html, body {
		background-image: none !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/a/) {
	#navtop>a[href*="/a/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/a/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/b/) {
	#navtop>a[href*="/b/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/b/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/c/) {
	#navtop>a[href*="/c/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/c/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/d/) {
	#navtop>a[href*="/d/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/d/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/e/) {
	#navtop>a[href*="/e/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/e/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/g/) {
	#navtop>a[href*="/g/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/g/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/gif/) {
	#navtop>a[href*="/gif/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/gif/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/h/) {
	#navtop>a[href*="/h/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/h/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/hr/) {
	#navtop>a[href*="/hr/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/hr/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/k/) {
	#navtop>a[href*="/k/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/k/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/m/) {
	#navtop>a[href*="/m/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/m/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/o/) {
	#navtop>a[href*="/o/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/o/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/p/) {
	#navtop>a[href*="/p/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/p/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/r/) {
	#navtop>a[href*="/r/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/r/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/s/) {
	#navtop>a[href*="/s/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/s/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/t/) {
	#navtop>a[href*="/t/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/t/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/u/) {
	#navtop>a[href*="/u/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/u"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/v/) {
	#navtop>a[href*="/v/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/v/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/w/) {
	#navtop>a[href*="/w/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/w/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/wg/) {
	#navtop>a[href*="/wg/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/wg/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/i/) {
	#navtop>a[href*="/i/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/i/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/ic/) {
	#navtop>a[href*="/ic/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/ic/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/cm/) {
	#navtop>a[href*="/cm/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/cm/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/y/) {
	#navtop>a[href*="/y/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/y/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/3/) {
	#navtop>a[href*="/3/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/3/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/adv/) {
	#navtop>a[href*="/adv/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/adv/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/an/) {
	#navtop>a[href*="/an/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/an/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/cgl/) {
	#navtop>a[href*="/cgl/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/cgl/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/ck/) {
	#navtop>a[href*="/ck/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/ck/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/co/) {
	#navtop>a[href*="/co/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/co/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/fa/) {
	#navtop>a[href*="/fa/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/fa/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/fit/) {
	#navtop>a[href*="/fit/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/fit/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/int/) {
	#navtop>a[href*="/int/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/int/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/jp/) {
	#navtop>a[href*="/jp/"] {
	background: rgba(0,0,0,0.3) !important;
	color: #ccc !important;
	font-weight: 700 !important;
	}

	#navtop>a[href*="/jp/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/lit/) {
	#navtop>a[href*="/lit/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/lit/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/mu/) {
	#navtop>a[href*="/mu/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/mu/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/n/) {
	#navtop>a[href*="/n/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/n/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/po/) {
	#navtop>a[href*="/po/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/po/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/sci/) {
	#navtop>a[href*="/sci/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/sci/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/soc/) {
	#navtop>a[href*="/soc/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/soc/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/sp/) {
	#navtop>a[href*="/sp/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/sp/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/tg/) {
	#navtop>a[href*="/tg/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/tg/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/toy/) {
	#navtop>a[href*="/toy/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/toy/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/trv/) {
	#navtop>a[href*="/trv/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/trv/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/tv/) {
	#navtop>a[href*="/tv/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/tv/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/vp/) {
	#navtop>a[href*="/vp/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/vp/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://rs.4chan.org/) {
	#navtop>a[href="http://rs.4chan.org/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href="http://rs.4chan.org/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}

@-moz-document url-prefix(http://boards.4chan.org/x/) {
	#navtop>a[href*="/x/"] {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
		font-weight: 700 !important;
	}

	#navtop>a[href*="/x/"]:hover {
		background: rgba(255,255,255,.15) !important;
	}
}
