/* Chrome Hacks */
	.postarea form:first-child {
		position: fixed !important;
		z-index: 2;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 59px !important;
		right: 16px !important;
	}

	.postarea input[type=file][name="upfile"] {
		width: 248px !important;
	}
	
	#qr input[type=file][name="upfile"],
	#quickrep input[type=file][name="upfile"],
	div[id^=qr] input[type=file][name="upfile"] {
		width: 300px !important;
	}
	
	.postarea tr:nth-of-type(6) .postblock b {
		right: 0 !important;
	}
	
	#qr tr:nth-of-type(6) .postblock b,
	#quickrep tr:nth-of-type(6) .postblock b,
	div[id^=qr] tr:nth-of-type(6) .postblock b {
		right: 16px;
	}

	#thread_filter {
		right: 17px !important;
	}

	#recaptcha_reload_btn {
		bottom: 66px !important;
		right: -5px !important;
	}

	#qr #recaptcha_reload_btn,
	.refreshBtn,
	div[id^=qr] #recaptcha_reload_btn {
		bottom: 77px !important;
		right: 12px !important;
	}
	
	input[type=checkbox],
	.reply input[type=checkbox],
	#options input[type=checkbox] {
		-webkit-appearance: button !important;
		-webkit-border-radius: 2px !important;
		border-radius: 2px !important;
		border: 1px solid #aaa !important;
		width: 10px !important;
		height: 10px !important;
	}

	input[type=checkbox]:active,
	#options input[type=checkbox]:active {
		border: 1px solid #fff !important;
		background: #fff !important;
	}
	
	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked {
		background: #999!important;
	}

	div.postarea>form td:nth-of-type(3)>label {
		right: 41px;
	}