/*[[ColorScheme]]*/
/* AppChan */
	::-webkit-scrollbar-thumb {
		border-color: #2c2c2c !important;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #3f3f3f;
	}

	::-webkit-scrollbar-thumb:active {
		background: #111;
	}

	::-webkit-scrollbar-track-piece,
	::-webkit-scrollbar-corner,
	::-webkit-scrollbar-resizer {
		background: #333;
	}

	::-webkit-scrollbar-thumb {
		background: #262626;
	}
	
	*,
	#qr input[type="checkbox"],
	#updater #count:not(.new):after,
	input[type="checkbox"],
	form[name="delform"] div:not(.thread) label:after,	#ft li,
	#ft ul,
	#options input:not([type="checkbox"]),
	#updater input:not([type="checkbox"]),
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type="checkbox"]),
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	textarea,
	#qr input[type="checkbox"],
	input[type="checkbox"] {
		color: #aaa !important;
	}

	div.postarea>form td:nth-of-type(3)>label,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#autonoko {
		color: #888;
	}

	input[type="file"]::-webkit-file-upload-button {
		color: #666 !important;
	}
	
	.doubledash a {
		color: #222 !important;
	}
	
	.doubledash a:hover {
		color: #555 !important;
	}

	a,
	.postername a,
	.commentpostername a,
	a .postertrip {
		color: #68a !important;
	}

	a:hover,
	.postername a:hover,
	.commentpostername a:hover,
	a:hover .postertrip {
		color: #444 !important;
	}
	
	a.backlink {
		color: #4f5f8f !important;
	}

	.span.filetitle,
	.replytitle {
		color: #909090 !important;
	}

	.unkfunc {
		color: #789922 !important;
	}
	
	#boards h3,
	#boardsMenu,
	#ft li,
	#ft ul,
	#navbar,
	#options,
	#popup,
	#qr input[type="checkbox"],
	#threadwatcher,
	#threadwatcher .postblock,
	#watcher,
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	.yuimenuitem-selected,
	h2,
	input,
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	td.postblock,
	td.reply,
	td.replyhl,
	textarea,
	input[type="checkbox"],
	scrollbar,
	scrollcorner {
		background-color: #333 !important;
	}
	
	#header,
	#options input,
	#options input[type=checkbox],
	#qr,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#quickrep,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#qr label input,
	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	.bd,
	.boxcontent>hr,
	.boxcontent input,
	.boxcontent textarea,
	.pages,
	.reply input[type=checkbox],
	h3,
	html,
	body,
	div.postarea>form td:nth-of-type(3)>label input,
	div[id^=qr],
	table.reply[style^="clear: both"] {
		background: #2c2c2c !important;
	}

	#backwash_tooltip,
	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	#popup,
	.recaptchatable #recaptcha_response_field:hover,
	.deletebuttons input[type="password"]:hover,
	div[id^=ref],
	input:hover,
	input[type="file"]>input[type="button"]
	input[type="submit"]:hover,
	td.replyhl,
	textarea:hover {
		background-color: #393939 !important;
	}

	.recaptchatable #recaptcha_response_field:focus,
	.deletebuttons input[type="password"]:focus,
	input:focus,
	input[type="submit"]:focus,
	textarea:focus {
		background-color: #3f3f3f !important;
	}

	input[type=checkbox]:active,
	#options input[type=checkbox]:active {
		background: #aaa !important;
	}

	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked,
	thumb:active {
		background: #111 !important;
	}

	thumb {
		border-color: #333 !important;
		background: #262626;
	}

	.boxcontent dd,
	#watcher .move,
	#threadwatcher .postblock {
		border-color: #2c2c2c !important;
	}

	#crntBoard {
		border-right-color: #393939 !important;
	}

	#com_submit:hover,
	input[type="submit"]:hover,
	input[type="file"]>input[type="button"]:hover {
		background-color: #363636 !important;
	}
	
	input[type="submit"],
	#com_submit,
	input[type="file"]>input[type="button"] {
		background-color: #303030 !important;
	}
	
	thumb:hover {
		background: #3f3f3f;
	}

	td[style="border: 1px dashed;"],
	td.reply>tr>td.reply {
		/* Inline Quotes */
		background-color: rgba(0,0,0,0.1) !important;
		border: none !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(0,0,0,.2) !important;
	}

	.new {
		background-color: rgba(255,255,255,.5) !important;
		color: #000 !important;
	}
	
	.postarea .postblock b,
	#qr .postblock b,
	#quickrep .postblock b,
	div[id^=qr] .postblock b,
	#maxchars {
		color: rgba(255,255,255,0.2) !important;
	}
	
	.postarea tr:nth-child(4)>.postblock>b:after {
		color: rgba(255,255,255,0.2) !important;
	}

	#ft li,
	#ft ul,
	#options input:not([type="checkbox"]),
	#updater input:not([type="checkbox"]),
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type="checkbox"]),
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	textarea {
		border: none 0 !important;
	}

	#qr input[type="checkbox"],
	input[type="checkbox"] {
		border: none !important;
	}

	.postarea td>input[name="upfile"] {
		margin: 2px 0 0 !important;
	}
/* Zenburned */
	::-webkit-scrollbar-thumb {
		border-color: #2c2c2c !important;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #3f3f3f;
	}

	::-webkit-scrollbar-thumb:active {
		background: #111;
	}

	::-webkit-scrollbar-track-piece,
	::-webkit-scrollbar-corner,
	::-webkit-scrollbar-resizer {
		background: #333;
	}

	::-webkit-scrollbar-thumb {
		background: #262626;
	}
	
	thumb:active {
		background: #111 !important;
	}

	thumb {
		border-color: #333 !important;
		background: #262626;
	}

	scrollbar,
	scrollcorner {
		background-color: #333 !important;
	}
	
	* {
		background: #3f3f3f !important;
		color:#efefef !important;
	}
	
	.reply,
	.reply>*,
	.reply>*>*,
	.reply>*>*>* {
		background-color:#3a3a39 !important;
	}

	.reply>tr>td {
		border: 1px solid #4f4f4f !important;
	}

	a {
		color:#efdcbc !important;
	}
	
	a:hover {
		color: #f8f893 !important;
	}

	.filetitle,
	.replytitle {
		color: #e89393 !important;
	}

	.postername,
	.commentpostername {
		color: #c0bed1 !important;
	}

	.postertrip {
		color: #8cd0d3 !important;
	}
	
	.unkfunc {	
		color: #7f9f7f !important;
	}

	select {
		color: #000 !important;
	}

	.deletebuttons>input[type="submit"],
	input[type="text"],
	input[type="password"],
	input:not([type="checkbox"]) {
		-moz-appearance: none;
		-webkit-appearance: none;
		border: 1px solid #888 !important;
		height: 19px !important;
	}

	.postarea tr .postblock b,
	label {
		background: none !important;
		color: #efefef !important;
	}
	
	#thread_filter,
	#filter {
		padding:0!important;
	}

	select,
	input[type=checkbox] {
		border: none 0 !important;
		background-color: #3f3f3f !important;
		color: #efefef !important;
		border: 1px solid #4f4f4f !important;
	}

	select>* {
		border: 0!important;
	}
	
	.postarea td>input[name="upfile"] {
		margin: 3px 0 -1px -1px !important;
	}
/* Defaults: */
	::-webkit-scrollbar-thumb {
		border: 1px solid #ccc;
	}
	
	thumb {
		-moz-appearance: none !important;
		border: 1px #ccc solid;
	}

	#ft li,
	#ft ul,
	#options input:not([type="checkbox"]),
	#updater input:not([type="checkbox"]),
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type="checkbox"]),
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	textarea {
		border: 1px solid #ccc !important;
	}

	#qr input[type="checkbox"],
	input[type="checkbox"] {
		border: none !important;
		color: #aaa !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(0,0,0,.2) !important;
	}

	.postarea .postblock b,
	#qr .postblock b,
	#quickrep .postblock b,
	div[id^=qr] .postblock b,
	#maxchars,
	.postarea tr:nth-child(4)>.postblock>b:after {
		color: rgba(0,0,0,0.5) !important;
	}
	
	#watcher .move,
	#threadwatcher .postblock {
		border-color: #fff !important;
	}
	
	.postarea td>input[name="upfile"] {
		margin: 3px 0 -1px -1px !important;
	}
/* End */

/*[[background]]*/
/* Yuki Nagato: */
url("http://i.imgur.com/6H3BO.png")
/* Yuki Nagato (+Pantsu): */
url("http://i.imgur.com/ZzzZG.png")
/* Original: */
url("http://i.imgur.com/cKHtM.png")
/* None: */
none
/* Horo: */
url("http://i.imgur.com/gJ8A9.png")
/* End */

/*[[NavBarSticky]]*/
/* Yes: */
	#header,
	.pages {
		position: fixed !important;
	}
	
	.pages {
		padding: 0 250px 0 0 !important;
	}

	.navlinks {
		padding-top: 14px
	}
/* No: */
	#header {
		position: absolute !important;
	}
	
	.pages {
		padding: 0 !important;
	}
/* End */

/*[[PstfrmPstion]]*/
/* Fixed: */
		right: 2px !important;
/* Slideout: */
		right: -233px !important;
		-webkit-transition: right .3s ease-in-out 3s;
		-moz-transition: right .3s ease-in-out 3s;
		-o-transition: right .3s ease-in-out 3s;
	}
	
	.postarea form:first-child:hover {
		right: 2px !important;
		-webkit-transition: right .3s linear;
		-moz-transition: right .3s linear;
		-o-transition: right .3s linear;
	}
	
	.postarea tr:nth-child(4) {
		height: 79px !important;
	}
	
	.postarea textarea:focus {
		position: fixed !important;
		right: 2px !important;
		bottom: 171px !important;
/* Transparent to Opaque: */
		right: 2px !important;
		opacity: 0.2;
		-webkit-transition: opacity .3s ease-in-out 3s;
		-moz-transition: opacity .3s ease-in-out 3s;
		-o-transition: opacity .3s ease-in-out 3s;
	}

	.postarea form:first-child:hover {
		opacity: 1;
		-webkit-transition: opacity .3s linear;
		-moz-transition: opacity .3s linear;
		-o-transition: opacity .3s linear;
/* End */

/*[[fixedFilter]]*/
/* Locked in Thread Watcher / Top */
	#thread_filter {
		position: fixed !important;
		top: 17px !important;
		right: 2px !important;
		bottom: auto !important;
		left: auto !important;
	}

	#thread_filter>div:first-child  {
		cursor: default !important;
	}
	
	#thread_filter.autohide:hover {
		width: 248px;		
	}

	#thread_filter:not(.autohide) a[title="Auto-hide dialog box"]:after {
		content: " - SET THIS!!";
	}
/* Locked Bottom: */
	#thread_filter {
		position: fixed !important;
		top: auto !important;
		right: 2px !important;
		bottom: 0 !important;
		left: auto !important;
		width: 248px;
	}

	#thread_filter>div:first-child  {
		cursor: default !important;
	}

	#thread_filter:not(.autohide) a[title="Auto-hide dialog box"]:after {
		content: " - SET THIS!!";
	}
/* Moveable */
	#thread_filter {
		margin: 2px !important;
		width: 248px;
	}
/* End */

/*[[boardlogo]]*/
/* Yes: */

/* No: */
	div.logo,
/* End */

/*[[CrntBrdHlt]]*/
/* Yes: */
/* Current Board Navigation Highlight, mostly based off of CSS from 4chan ~ Momiji by !K.WeEabo0o. */
@-moz-document url-prefix(http://boards.4chan.org/a/) {
	#navtop>a[href*="/a/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/a/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/b/) {
	#navtop>a[href*="/b/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/b/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/c/) {
	#navtop>a[href*="/c/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/c/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/d/) {
	#navtop>a[href*="/d/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/d/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/e/) {
	#navtop>a[href*="/e/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/e/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/g/) {
	#navtop>a[href*="/g/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/g/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/gif/) {
	#navtop>a[href*="/gif/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/gif/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/h/) {
	#navtop>a[href*="/h/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/h/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/hr/) {
	#navtop>a[href*="/hr/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/hr/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/k/) {
	#navtop>a[href*="/k/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/k/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/m/) {
	#navtop>a[href*="/m/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/m/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/o/) {
	#navtop>a[href*="/o/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/o/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/p/) {
	#navtop>a[href*="/p/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/p/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/r/) {
	#navtop>a[href*="/r/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/r/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/s/) {
	#navtop>a[href*="/s/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/s/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/t/) {
	#navtop>a[href*="/t/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/t/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/u/) {
	#navtop>a[href*="/u/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/u"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/v/) {
	#navtop>a[href*="/v/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/v/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/w/) {
	#navtop>a[href*="/w/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/w/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/wg/) {
	#navtop>a[href*="/wg/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/wg/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/i/) {
	#navtop>a[href*="/i/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/i/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/ic/) {
	#navtop>a[href*="/ic/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/ic/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/cm/) {
	#navtop>a[href*="/cm/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/cm/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/y/) {
	#navtop>a[href*="/y/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/y/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/3/) {
	#navtop>a[href*="/3/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/3/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/adv/) {
	#navtop>a[href*="/adv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/adv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/an/) {
	#navtop>a[href*="/an/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/an/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/cgl/) {
	#navtop>a[href*="/cgl/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/cgl/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/ck/) {
	#navtop>a[href*="/ck/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important;}
	#navtop>a[href*="/ck/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/co/) {
	#navtop>a[href*="/co/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/co/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/fa/) {
	#navtop>a[href*="/fa/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/fa/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/fit/) {
	#navtop>a[href*="/fit/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/fit/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/int/) {
	#navtop>a[href*="/int/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/int/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/jp/) {
	#navtop>a[href*="/jp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/jp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/lit/) {
	#navtop>a[href*="/lit/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/lit/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/mu/) {
	#navtop>a[href*="/mu/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/mu/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/n/) {
	#navtop>a[href*="/n/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/n/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/po/) {
	#navtop>a[href*="/po/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/po/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/sci/) {
	#navtop>a[href*="/sci/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/sci/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/soc/) {
	#navtop>a[href*="/soc/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/soc/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/sp/) {
	#navtop>a[href*="/sp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/sp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/tg/) {
	#navtop>a[href*="/tg/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/tg/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/toy/) {
	#navtop>a[href*="/toy/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/toy/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/trv/) {
	#navtop>a[href*="/trv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/trv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/tv/) {
	#navtop>a[href*="/tv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/tv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/vp/) {
	#navtop>a[href*="/vp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/vp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://rs.4chan.org/) {
	#navtop>a[href*="rs."] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="rs."]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/x/) {
	#navtop>a[href*="/x/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/x/"]:hover { background: rgba(255,255,255,.15) !important; }
}
/* No: */

/* End */