/*
AppChan [OPERA EDITION] by Zixaphir, MayhemYDG, !K.WeEabo0o, seaweedchan, disappoint, Kupaka

This text is free. It comes without any warranty, to
the extent permitted by applicable law. You can redistribute it
and/or modify it under the terms of the Do What The Fuck You Want
To Public License, Version 2, as published by Sam Hocevar. See
http://sam.zoy.org/wtfpl/COPYING for more details.
*/

/*
This style is intended to provide 4chan integration of the following
addons/userscripts, ordered by priority:
	* 4chan x + 4chan thread filter + /b/ackwash reloaded
	* 4chanplus
	* 4chan 4chrome

This style is designed for the following browsers, ordered alphabetically:
	* Google Chrome 10 or higher / Chromium latest / Canary latest
	* Mozilla Firefox 4.x or higher / Aurora latest / Nightly latest
*/

@-moz-document domain(boards.4chan.org), domain(rs.4chan.org) {
/* Silhouette / Background Image */
	html, body {
		background: none no-repeat fixed 100% 100% !important;
	}

	body {
		padding: 0 252px 0 2px !important;
	}
}

@-moz-document domain("4chan.org") {

	body>br,
	body>hr,
	div[lock=off],
	div[lock=on],
	div.logo br:nth-of-type(1),
	div#logo,
	form table tbody>tr:nth-of-type(2) td[align="right"],
	form[name="delform"]>hr:last-of-type,
	form[name="delform"]>hr:nth-last-of-type(2),
	form[name="delform"]>br:last-of-type,
	form[name="delform"]>br[clear=left]:last-of-type,
	form[name="delform"]>center,
	html body>a:not([style="cursor: pointer; float: right;"]),
	scrollbarbutton,
	small,
	td[style^="padding: "]:not(#backwash_tipcell):not([style="padding: 10px 7px 7px 7px;"]):not([style="padding: 10px 7px 7px;"]),
	td.rules,
	th,
	[id="4chan_ext_nav_top"],
	#footer>*:not(#navbot),
	#ft li.fill,
	#popular-threads,
	#recaptcha_logo,
	#recaptcha_tagline,
	#recent-images,
	#recent-threads,
	#rules,
	#recaptcha_switch_audio_btn,
	#recaptcha_whatsthis_btn,
	#recaptcha_reload_btn *,
	#quickrep tr:nth-of-type(4) b,
	#qr.auto:not(:hover) #recaptcha_reload_btn,
	.deletebuttons input[type="button"],
	.doubledash,
	.error:empty,
	.fill,
	.notice,
	.replymode,
	.postarea form>div,
	.postarea>form:first-child>table>tbody>tr:last-of-type,
	.postarea .refreshBtn,
	.yui-g,
	.yui-menu-shadow,
	.warnicon {
	/* Cleanup */
		display: none !important;
	}

	* {
	/* Defaults of all elements */
		font: 12px "Ubuntu", "Droid Sans", "Terminus", "Calibri", "Lucida Grande", "Helvetica" !important;
		text-decoration: none !important;
	}

	::-webkit-scrollbar {
		width: 10px !important;
		height: 10px !important;
	}

	::-webkit-scrollbar-thumb {
		border: 1px solid;
	}

	::-webkit-scrollbar-track-piece:vertical {
		border-left: 0;
	}

	::-webkit-scrollbar-track-piece:horizontal {
		border-top: 0;
	}

	scrollbar,
	scrollcorner {
		-moz-appearance: none !important;
		-o-appearance: none !important;
		width: 10px !important;
		height: 10px !important;
	}

	scrollbar[orient="vertical"] {
		border-left: 0;
	}

	scrollbar[orient="horizontal"] {
		border-top: 0;
	}

	thumb {
		-moz-appearance: none !important;
		-o-appearance: none !important;
		border: 1px solid;
	}

	form[name="delform"]>table[align=right]:last-of-type {
		visibility: hidden;
	}

	span[id^="4chan_ext_right"],
	a.yuimenuitemlabel:hover,
	.replyhider a:hover {
		background-color: transparent !important;
	}
	div.logo {
		position: fixed !important;
		right: 2px !important;
		bottom: 393px !important;
		width: 248px !important;
		z-index: 1;
		text-align: center;
	}
	div.logo img {
		position: fixed !important;
		right: 2px !important;
		bottom: 310px !important;
		width: 248px !important;
		height: 83px !important;
		margin: 0 !important;
		z-index: 1;
		opacity: 0.3;
		-webkit-transition: opacity .5s ease-in-out .5s;
		-moz-transition: opacity .5s ease-in-out .5s;
		-o-transition: opacity .5s ease-in-out .5s;
	}

	div.logo img:hover {
		opacity: 1;
	}

	div.logo img:hover {
		-webkit-transition: opacity .5s ease-in;
		-moz-transition: opacity .5s ease-in;
		-o-transition: opacity .5s ease-in;
	}

	div.logo font[size="5"] span {
		font-size: 28px !important;
	}

	body>span>div {
	 /* 4watch */
		position: fixed !important;
		top: auto !important;
		left: auto !important;
		bottom: 440px !important;
		right: 0 !important;
		width: 248px;
	}

	hr {
		border: none !important;
		padding: 0 !important;
		height: 0;
		width: 100% !important;
		clear: both;
	}
/* Front Page */
	.bd,
	.bd ul,
	img,
	.pages,
	.pages *,
	#qr,
	#quickrep,
	div[id^="qr"],
	table.reply[style^="clear: both"],
	td.postblock,
	span[id^="4chan_ext_right"],
	.boxcontent>hr,
	h3 {
		border: none !important;
	}

	.boxcontent input {
		height: 18px !important;
		vertical-align: bottom;
		margin-right: 1px !important;
	}

	a.yuimenuitemlabel {
		padding: 0 20px !important;
	}
/* Navigation */
	#header,
	#header>#navtop, /* Top Navigation */
	.pages /* Bottom Navigation */ {
		text-align: center !important;
		font-size: 0 !important;
		color: transparent !important;
		width: auto !important;
	}

	#header>#navtop {
	/* cripple the positioning of the top navigation */
		position: static !important;
		width: 100% !important;
	}
	#header {
		position: absolute !important;
	}

	.pages {
		padding: 0 !important;
	}

	#navbot:after {
		cursor: default;
		position: fixed !important;
		display: block !important;
		left: auto !important;
		top: 0px !important;
		height: 16px !important;
		width: 80px;
		border-width: 0 1px 1px 0 !important;
		font-size: 10px !important;
		vertical-align: bottom !important;
		text-align: center !important;
		opacity: 0.5 !important;
		-webkit-transition: all 0.3s ease-in-out !important;
		-moz-transition: all 0.3s ease-in-out !important;
		-o-transition: all 0.3s ease-in-out !important;
		content: "-Navigation-";
	}
	#navbot:hover:after {
		top: 41px !important;
		z-index: 1;
		border: none !important;
		opacity: 1 !important;
		background: none !important;
	}
	#navbot:hover {
		top: 0px !important;
	}
	#navbot {
		visibility: visible !important;
		position: fixed !important;
		top: -61px !important;
		left: 0px !important;
		right: auto !important;
		z-index: 2;
		color: transparent !important;
		padding: 0 10px 20px 10px !important;
		border-width: 0 1px 1px 0 !important;
		width: 310px !important;
		height: 40px !important;
		text-align: center !important;
		-webkit-transition: all 0.3s ease-in-out !important;
		-moz-transition: all 0.3s ease-in-out !important;
		-o-transition: all 0.3s ease-in-out !important;
	}
	#header,
	.pages {
		left: 0 !important;
		right: 250px !important;
		z-index: 3;
	}

	.pages {
		width: 100% !important;
		text-align: center !important;
		border-spacing: 0 !important;
		padding-right: 250px !important;
		right: 0 !important;
		z-index: 1;
	}

	#footer {
		z-index: -1;
		visibility: hidden;
		padding-top: 0 !important;
	}

	#navbot {
		font-size: 0 !important;
	}

	.pages td:nth-of-type(1) {
		font-size: 9px !important;
		text-transform: uppercase;
	}

	#header a,
	.pages a,
	.pages b,
	.pages input {
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		display: inline-block;
		font-size: 12px !important;
		text-align: center;
		border: none !important;
		text-align: center;
	}
	#header a,
	.pages a,
	.pages b,
	.pages input {
		margin: 0 1px;
		min-width: 14px;
	}
	.pages input {
		margin-bottom: 2px !important;
	}

	.pages b,
	.pages input,
	a,
	.new {
		-webkit-transition: background-color .1s linear;
		-moz-transition: background-color .1s linear;
		-o-transition: background-color .1s linear;
		border-radius: 9px;
	}
/* End of Navigation */
/* Post Form */
	.postarea form[name^="post"] {
		width: 248px;
	}

	.postarea table {
		padding: 0 !important;
		border-spacing: 0px !important;
		border-collapse: collapse !important;
	}

	form[name^="post"] td.postblock {
		width: 0 !important;
	}

	#cc-newpostarea {
		height: 260px !important;
	}

	#qr, /* 4chan x's quick reply */
	#quickrep, /* 4chanplus's quick reply */
	div[id^="qr"], /* 4chan 4chrome's quick reply */
	div[id^="4chan_ext_iqr"] /* 4chan Extension's quick reply */ {
		width: 306px !important;
		z-index: 5 !important;
	}

	#qr {
		padding: 1px 2px 2px !important;
	}

	#qr,
	#qr input.inputtext:not([name="sub"]),
	#qr textarea,
	#qr_captcha,
	#qr .move,
	#qr form {
		width: 300px !important;
	}

	#qr input.inputtext[name="name"] {
		width: 190px !important;
	}

	.chanchimp form[name^="post"] input.inputtext,
	.chanchimp form[name^="post"] input[type="file"][name="upfile"] > input[type="text"] {
		width: 200px !important;
	}

	.chanchimp form[name^="post"] textarea {
		width: 596px !important;
	}

	.postarea form[name^="post"] {
		/* Post From Positioning */
		position: fixed !important;
		z-index: 2;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 63px !important;
		right: 2px !important;
	}

	form[name^="post"] input[name="recaptcha_response_field"] {
		outline: none !important;
		box-shadow: none !important;
	}

/* Postform Labels */
	.boxcontent .postblock,
	#quickrep td.postblock,
	form[name^="post"] .postblock,
	div[id^="4chan_ext_iqr"] .postblock {
		border: none !important;
		background-color: transparent !important;
		font-weight: 200 !important;
		text-align: right !important;
		vertical-align: bottom;
		padding-bottom: 12px !important;
	}

	#quickrep td.postblock {
		padding-bottom: 13px !important;
	}

	#qr form[name^="post"] .postblock b {
		margin-top: -13px !important;
	}

	form[name^="post"] .postblock b,
	#maxchars /* 4chanplus's Character Counter */ {
		position: absolute;
		font-size: 9px !important;
		text-transform: uppercase;
		z-index: 2;
	}
/* Custom Postform Labels */
	form[name^="post"] tr:nth-of-type(1) .postblock b:after {
		content: "#TRIPCODE##SECURETRIP";
	}

	form[name^="post"] tr:nth-of-type(2) .postblock b:after {
		content: " | NOKO | SAGE";
	}

	.postarea tbody>tr:nth-child(4) .postblock b {
		font-size: 0 !important;
		color: transparent !important;
	}

	.postarea tr:nth-child(4) .postblock b:after {
		font-size: 9px !important;
		content: 'NEW THREAD' !important;
	}

	table[width="100%"]~.postarea tr:nth-child(4) .postblock b:after {
		content: 'REPLY' !important;
	}

	.postarea form[name^="post"] tr .postblock b {
		right: 3px;
		margin-top: -1px;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	.postarea form[name^="post"] tr .postblock b {
		margin-top: -2px;
	}

	.postarea form[name^="post"] tr:nth-of-type(3n) .postblock b {
		right: 54px;
	}

	form[name^="post"] tr .postblock b {
		right: 16px;
	}

	form[name^="post"] tr:nth-of-type(3n) .postblock b {
		right: 67px;
	}

	.fake input[type="file"]::-webkit-file-upload-button, /* Cheating. Firefox Stylish will ignore this block */
	.postarea form[name^="post"] tr:nth-of-type(6) .postblock b {
		right: 3px !important;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	form[name^="post"] tr:nth-of-type(6) .postblock b {
		right: 16px;
	}
/* End of Post Form Labels */
	#ft li,
	#ft ul,
	#options input:not([type="checkbox"]),
	#updater input:not([type="checkbox"]),
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	[name="recaptcha_response_field"],
	.top-box,
	h2,
	input:not([type="checkbox"]),
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
	}

	.inputtext {
		margin: 0 !important;
	}

	.top-box .menubutton {
		background-image: none !important;
	}

	.deletebuttons input[type="password"] {
		height: 19px !important;
	}

	.recaptcha_image_cell>center>#recaptcha_image {
		background-color: transparent !important;
		margin-left: 0 !important;
	}

	.postarea form[name^="post"] input[type="text"],
	.postarea form[name^="post"] input[type="password"],
	.postarea form[name^="post"] textarea {
		width: 248px !important;
	}

	form[name^="post"] input.inputtext,
	form[name^="post"] input[type="file"][name="upfile"]>input[type="text"],
	form[name^="post"] textarea {
		width: 300px !important;
	}

	.inputtext,
	input[name="upfile"]>input[type="text"] {
		padding: 2px !important;
	}

	div.move input,
	form[name^="post"] input[type="text"],
	form[name^="post"] input[type="password"],
	input[type="file"][name="upfile"]>input[type="text"],
	input[type="file"]>input[type="button"] {
		height: 19px !important;
	}

	.postarea form[name^="post"] input[type="file"][name="upfile"]>input[type="text"],
	.postarea form[name^="post"] input[name="sub"] {
		width: 197px !important;
	}

	form[name^="post"] input[name="sub"],
	form[name^="post"] input[type="file"][name="upfile"]>input[type="text"] {
		width: 249px !important;
		margin: 0 1px 0 0 !important;
		vertical-align: bottom;
	}

	input[type="submit"],
	#com_submit,
	input[type="file"]>input[type="button"] {
	/* Fancy formatting for all our postform buttons */
		cursor: default !important;
		width: 50px !important;
		height: 19px !important;
		margin: 0 !important;
		padding: 0 !important;
		font-size: 9px !important;
		text-transform: uppercase;
		vertical-align: bottom;
	}

	input[type="file"]::-webkit-file-upload-button {
	/* Webkit's file input box has a different syntax */
		background: transparent;
		border: none !important;
		height: 19px !important;
		padding: 0 !important;
		text-transform: uppercase;
	}
/* End of the file upload input */
	.postarea form[name^="post"] textarea {
		height: 78px !important;
		min-height: 78px !important;
		font-size: 10pt !important;
		margin: 0 !important;
	}

	form[name^="post"] textarea {
		min-height: 100px !important;
		margin: 0 !important;
	}

	.postarea td,
	td.reply,
	td.replyhl {
		z-index: 0;
		padding: 0 !important;
	}

	.postarea form[name^="post"] input[name="sub"],
	.postarea form[name^="post"] textarea.inputtext,
	.postarea form[name^="post"] td>input,
	.postarea form[name^="post"] .recaptchatable,
	.postarea form[name^="post"] input[name="recaptcha_response_field"],
	#com_submit,
	#qr input.inputtext,
	#qr input[name="upfile"],
	#qr textarea,
	#thread_filter input {
		margin-top: 1px !important;
	}

	.postarea form[name^="post"] td>input[name="upfile"] {
		width: 248px !important;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	.postarea form[name^="post"] input[name="upfile"],
	#quickrep form[name^="post"] input[name="upfile"] {
		margin: 1px 0 0 !important;
		height: 19px !important;
	}

	form[name^="post"] input[type=file][name="upfile"] {
		width: 300px !important;
	}

	#recaptcha_image img,
	#quick_recaptcha_image img {
		opacity: 0.5;
	}

	.postarea form[name^="post"] .recaptcha_image_cell>center,
	#r_captcha_div img,
	#r_captcha_div input {
		width: 248px !important;
		text-align: left !important;
	}

	.postarea form[name^="post"] #recaptcha_widget_div {
		height: auto !important;
		width: 248px !important;
	}

	.postarea .recaptcha_image_cell>center,
	.postarea .recaptcha_image_cell,
	tr[height="73"] td,
	form[name^="post"] tr[height="73"] {
		height: auto !important;
	}
	#quickrep .refreshBtn,
	#recaptcha_reload_btn,
	.refreshBtn {
		position: absolute !important;
		height: 0 !important;
		width: 0 !important;
		padding: 12px 0 0 12px !important;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAZ0lEQVR4XgXAsQ0BUQCA4c8kSrOo70KntAgxgkl05CV2sMOVEo2ofgEAYAIAdp6SRQBwkSQJgL3kbJYEwPC1BgArIFcAwAvIFgAcBQwAQAawQZK7g0UmAJKPt+QEAPlJHmYA4AYA8AeJKy3vtXoiawAAAABJRU5ErkJggg==") no-repeat !important;
		overflow: hidden;
		z-index: 1 !important;
	}
	.postarea form[name^="post"] #recaptcha_reload_btn {
		bottom: 62px !important;
		right: 2px !important;
	}

	#cc-newpostarea form[name^="post"] #recaptcha_reload_btn,
	#cc-newpostarea2 form[name^="post"] #recaptcha_reload_btn {
		bottom: 13px !important;
		left: 290px !important;
		right: auto !important;
	}

	#cc-newpostarea2 form[name^="post"] #recaptcha_reload_btn {
		left: 288px !important;
		bottom: 34px !important;
	}

	#qr #recaptcha_reload_btn {
		bottom: 64px !important;
		right: 4px !important;
	}

	form[name^="post"] #recaptcha_reload_btn,
	.refreshBtn {
		bottom: 76px !important;
		right: 15px !important;
	}

	#dragarea>div:nth-of-type(2) {
		width: 260px !important;
	}

	#maxchars {
		bottom: 131px;
		right: 12px;
	}

	#quickrep td>table {
		border-spacing: 0;
	}

/* Spoiler Image Checkbox */
	form[name^="post"] tr:nth-of-type(3)>td:nth-of-type(3) {
	/* Removes the brackets around Spoiler Image */
		font-size: 0 !important;
		color: transparent;
	}

	form[name^="post"] label {
	/* Spoiler Image label */
		position: absolute;
		top: auto;
		font-size: 12px !important;
		bottom: 0;
		right: 55px;
		vertical-align: bottom;
	}

	.chanchimp form[name^="post"] label {
		position: static;
	}

	#qr>form[name^="post"] label,
	#quickrep>form[name^="post"] label,
	[id^="qr"] label {
		bottom: 14px;
		right: 70px;
	}

	#autonoko /* 4chanplus's autonoko */ {
		position: absolute;
		font-size: 12px !important;
		right: 91px;
		display: none;
	}

	div.postarea>form td:nth-of-type(3)>label input,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	form[name="delform"]>div:not(.thread) input,
	.deletebuttons input[type="checkbox"] {
		vertical-align: middle;
	}

	form[name^="post"] td:nth-of-type(3)>label input,
	#qr label input,
	.boxcontent input,
	.boxcontent textarea {
		-webkit-appearance: button;
		-moz-appearance: none;
		-o-appearance: none;
		border: 0 !important;
	}

	input[type=checkbox],
	.reply input[type=checkbox],
	#options input[type=checkbox] {
		-webkit-appearance: button !important;
		-moz-appearance: none;
		-o-appearance: none;
		width: 12px !important;
		height: 12px !important;
		cursor: pointer !important;
	}
/* Posts */
	form[name="delform"] {
		padding: 17px 0 !important;
		margin: 0 !important;
	}

	form[name="delform"]>table:not(.pages), /* Reply are tables. */
	div.thread>table, /* Replies are tables. A script like 4chan X is present */
	.insertedPosts>table, /* 4chanplus inserts new posts in a new div */
	td.reply, /* Reply cell */
	td.replyhl /* Highlighted Reply cell */ {
		width: 100% !important;
	}

	.omittedposts /* X posts and Y image replies omitted. Click Reply to view. */ {
		clear: both;
		padding-left: 20px;
		display: block !important;
	}

	form[name="delform"]>table:not(.pages),
	div.thread>table,
	.insertedPosts>table {
		margin: 2px 0 0 !important;
		border-spacing: 0 !important;
	}

	form[name="delform"] a img {
		border: 0;
		float: left;
		margin: 0 20px 20px !important;
	}

	form[name="delform"] a img+img {
		margin: 0 0 20px !important;
	}

	html,
	body,
	form[name="delform"] span[id^="4chan_ext_right"] a img,
	form[name="delform"] a img[class*="chan_ext_tothreadstartbutton"] {
		margin: 0 !important;
	}

	.filesize {
		margin-top: 17px !important;
	}
	.filesize span {
		font-size: 0 !important;
		visibility: hidden;
	}

	.filesize span:after {
		content: attr(title);
		font-size: 12px !important;
		visibility: visible;
	}
	.replyhider a {
		position: absolute;
		right: 255px;
	}

	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide) {
		border: 0 !important;
	}

	.commentpostername a.linkmail[href$="sage"]:after {
		content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAABa1BMVEUAAACqrKiCgYIAAAAAAAAAAACHmX5pgl5NUEx/hnx4hXRSUVMiIyKwrbFzn19SbkZ1d3OvtqtpaWhcX1ooMyRsd2aWkZddkEV8vWGcpZl+kHd7jHNdYFuRmI4bHRthaV5WhUFsfGZReUBFZjdJazpGVUBnamYfHB9TeUMzSSpHgS1cY1k1NDUyOC8yWiFywVBoh1lDSEAZHBpucW0ICQgUHhBjfFhCRUA+QTtEQUUBAQFyo1praWspKigWFRZHU0F6j3E9Oz5VWFN0j2hncWONk4sAAABASDxJWkJKTUgAAAAvNC0fJR0DAwMAAAA9QzoWGhQAAAA8YytvrFOJsnlqyT9oqExqtkdrsExpsUsqQx9rpVJDbzBBbi5utk9jiFRuk11iqUR64k5Wf0JIZTpadk5om1BkyjmF1GRNY0FheFdXpjVXhz86XSp2yFJwslR3w1NbxitbtDWW5nNnilhFXTtYqDRwp1dSijiJ7H99AAAAUnRSTlMAJTgNGQml71ypu3cPEN/RDh8HBbOwQN7wVg4CAQZ28vs9EDluXjo58Ge8xwMy0P3+rV8cT73sawEdTv63NAa3rQwo4cUdAl3hWQSWvS8qqYsjEDiCzAAAAIVJREFUeNpFx7GKAQAYAOD/A7GbZVAWZTBZFGQw6LyCF/MIkiTdcOmWSzYbJVE2u1KX0J1v+8QDv/EkyS0yXF/NgeEILiHfyc74mICTQltqYXBeAWU9HGxU09YqqEvAElGjyZYjPyLqitjzHSEiGkrsfMWr0VLe+oy/djGP//YwfbeP8bN3Or0bkqEVblAAAAAASUVORK5CYII=");
	}

	.spoiler:not(:hover),
	.spoiler:not(:hover) .unkfunc,
	.spoiler:not(:hover) a {
		/* Fixes text spoilers */
		color: #000 !important;
	}

	.span.filetitle,
	.replytitle,
	.postername,
	.commentpostername,
	.postertrip {
		background: transparent !important;
	}

	.postername,
	.commentpostername {
		font-weight: 700 !important;
	}
/* Addons and such */
	body>a[style="cursor: pointer; float: right;"] {
		margin-top: 17px;
	}

	body>div[style="width: 100%;"] {
		margin-top: 34px;
	}

	#copyright,
	#header a,
	#qr td,
	#qr tr[height="73"]:nth-of-type(2),
	#quickrep tr[height="73"] td:nth-of-type(2),
	#quickrep td.postblock,
	.recaptcha_input_area,
	.menubutton a,
	.chanchimp>div,
	.pages td,
	.recaptchatable td.recaptcha_image_cell,
	td[style="padding-left: 7px;"],
	div[id^="qr"] tr[height="73"]:nth-of-type(2) {
		padding: 0 !important;
	}

	#navtopr {
		position: fixed;
		right: 55px !important;
		left: auto !important;
		top: 0 !important;
		bottom: auto !important;
		font-size: 0 !important;
		color: transparent !important;
	}

	#navbar,
	#boardsMenu,
	#popup,
	.navbar2, /* 4chanplus - submenus */
	#crntBoard, /* 4chanplus - "current board" */
	#quickrep {
		-webkit-border-radius: 0 !important;
		border-radius: 0 !important;
		-webkit-box-shadow: none !important;
	}

	#navbar {
		margin-left: -265px !important;
		height: 26px !important;
	}

	#crntBoard {
		height: 24px !important;
	}
/* Expand Images div */
	#imgControls {
		position: fixed;
		top: 0;
		right: 106px;
		bottom: auto !important;
		width: 145px;
		font-size: 12px !important;
		z-index: 2;
	}

	#imgControls input {
		width: 10px !important;
		height: 10px !important;
		margin: 4px 1px !important;
		vertical-align: top !important;
	}

	#imgControls label {
		font-size: 0px !important;
		color: transparent  !important;
	}

	#imgControls label:after {
		font-size: 12px !important;
		content: "Expand";
	}

	#imgControls select {
		float: right !important;
	}

	select>button,
	select>input {
		opacity: 0;
	}

	#imgControls select>option {
		font-size: 10px !important;
	}
/* End of Expand Images div */
/* Reply Previews */
	#backwash_tooltip, /* /b/ackwash reloaded */
	#popup, /* 4chanplus */
	#qp, /* 4chan x Quote Preview */
	div[id^=ref] /* 4chan4chrome */ {
		max-width: 70%;
		visibility: visible;
	}

	#qp {
		padding: 2px 6px !important;
	}

	#backwash_tooltip,
	#popup,
	#qp,
	div[id^="ref"],
	#cc-quotedcontainer_t {
		visibility: visible;
		z-index: 10 !important;
	}

	#cc-newpostarea,
	#cc-newpostarea2 {
		z-index: 9 !important;
	}

	#backwash_tooltip img,
	#popup img,
	#qp img,
	div[id^="ref"] img {
		max-width: 300px;
		height: auto !important;
	}

	#popup>img {
		max-width: 100% !important;
	}

	.deletebuttons,
	#popup {
		position: fixed !important;
		top: auto !important;
		right: 2px !important;
		bottom: 22px !important;
		left: auto !important;
		visibility: visible !important;
	}
/* End of Reply Previews */
	.deletebuttons br {
		display: inline !important;
	}

	.navlinks,
	#navlinks,
	span[id^="4chan_ext_right"] {
		right: 255px !important;
	}

	#navlinks {
		top: 0 !important;
		z-index: 3 !important;
	}

	html body>span[style="left: 5px; position: absolute;"] {
		display: none;
	}

	html body span[style="left: 5px; position: absolute;"] {
		font-size: 0 !important;
		visibility: hidden;
	}

	html body span[style="left: 5px; position: absolute;"] a {
		cursor: default;
		position: fixed !important;
		top: auto;
		right: 192px;
		bottom: 42px;
		left: auto !important;
		visibility: visible;
		height: 14px !important;
		width: 58px !important;
		margin: 0 !important;
		padding: 0 !important;
		font-size: 9px !important;
		text-transform: uppercase;
		vertical-align: bottom !important;
		padding-top: 5px !important;
		border-radius: 0 !important;
		text-align: center;
	}

/* Sidebar 4chan x options */
	#options {
		position: fixed !important;
		top: 17px !important;
		bottom: 2px !important;
		right: 2px !important;
		left: auto !important;
		border: 0 !important;
		z-index: 99 !important;
		text-align: right !important;
		width: 238px !important;
	}

	#options .move {
		text-decoration: underline !important;
		font-size: 16px !important;
	}

	#options .move a {
	/* Close Button */
		position: fixed;
		top: 22px;
		right: 230px;
		font-size: 20px !important;
	}
/* End of Sidebar 4chan x options */
	#thread_filter {
		position: fixed !important;
		top: 17px !important;
		right: 2px !important;
		bottom: auto !important;
		left: auto !important;
	}

	#thread_filter>div:first-child  {
		cursor: default !important;
	}

	#thread_filter.autohide:hover {
		width: 248px;
	}

	#thread_filter:not(.autohide) a[title="Auto-hide dialog box"]:after {
		content: " - SET THIS!!";
	}
	#thread_filter {
		padding: 3px 0;
		border: 0 !important;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		font-size: 12px !important;
		z-index: 4 !important;
	}

	#updater {
		right: 2px !important;
		left: auto !important;
		top: 0 !important;
		bottom: auto !important;
		border: 0 !important;
		font-size: 12px;
		overflow: hidden;
		z-index: 5 !important;
		padding-bottom: 2px;
	}

	#updater #count:not(.new) {
		font-size: 0 !important;
		color: transparent !important;
	}

	#updater #count:not(.new):after {
		font-size: 12px !important;
		content: "+0";
	}

	#updater .error {
		position: fixed;
		top: 0;
		right: 10px;
		font-size: 48pt;
	}

	#watcher /* 4chan x thread watcher */ {
		position: fixed !important;
		top: 17px !important;
		right: 2px !important;
		bottom: auto !important;
		left: auto !important;
		width: 248px !important;
	}

	#backwash_tooltip,
	#qp,
	#popup,
	div[id^=ref],
	td.reply,
	td.replyhl,
	#options,
	#navbar,
	#popup,
	#boardsMenu {
		border: 0 !important;
	}

	#watcher,
	#threadwatcher /* 4chan4chrome's threadwatcher */ {
		border: 0 !important;
		border-radius: 0;
		padding: 1px 0;
		overflow: hidden;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		-webkit-border-radius: 0;
		z-index: 2 !important;
	}

	#threadwatcher .postblock {
		margin: 0 !important;
		padding: 0 !important;
		border: 0 !important;
	}

	#watcher .move,
	#threadwatcher .postblock {
		padding: 2px 3px !important;
		margin-bottom: 2px !important;
		text-decoration: none !important;
	}

	#watcher .move,
	#updater .move,
	#options .move {
		cursor: default !important;
	}

/* AppChan: */
	::-webkit-scrollbar-thumb {
		border: #2c2c2c !important;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #3f3f3f;
	}

	::-webkit-scrollbar-thumb:active {
		background: #111;
	}

	::-webkit-scrollbar-track-piece,
	::-webkit-scrollbar-corner,
	::-webkit-scrollbar-resizer {
		background: #333;
	}

	::-webkit-scrollbar-thumb {
		background: #262626;
	}

	::-webkit-selection{
		background: #aaa;
		color: #101010;
	}

	::-moz-selection{
		background: #aaa;
		color: #101010;
	}

	::selection{
		background: #aaa;
		color: #101010;
	}

	body,
	body>form,
	html body span[style="left: 5px; position: absolute;"] a,
	div.postarea,
	input,
	select,
	td.deletebuttons,
	textarea,
	.abbr,
	.commentpostername,
	.logo,
	.omittedposts,
	.pages b,
	.postername,
	.reply,
	.replyhl,
	#backwash_tooltip,
	#imgControls label:after,
	#navbot:after,
	#qp,
	#twi_table_div,
	#updater #count:not(.new):after {
		color: #aaa !important;
	}

	div.postarea>form td:nth-of-type(3)>label,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#autonoko {
		color: #888;
	}

	input[type="file"]::-webkit-file-upload-button {
		color: #666 !important;
	}

	.replyhider a {
		color: #222 !important;
	}

	.replyhider a:hover {
		color: #555 !important;
	}

	a,
	.postername a,
	.commentpostername a,
	a .postertrip {
		color: #68a !important;
	}

	a:hover,
	.postername a:hover,
	.commentpostername a:hover,
	a:hover .postertrip {
		color: #444 !important;
	}

	a.backlink,
	a.forwardlink {
		color: #4f5f8f !important;
	}

	.span.filetitle,
	.replytitle {
		color: #909090 !important;
	}

	.unkfunc {
		color: #789922 !important;
	}

	#boards h3,
	#boardsMenu,
	#ft li,
	#ft ul,
	#navbar,
	#options,
	#popup,
	#threadwatcher,
	#threadwatcher .postblock,
	#watcher,
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	.yuimenuitem-selected,
	h2,
	input,
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	td.postblock,
	td.reply,
	textarea {
		background-color: #333 !important;
	}

	scrollbar,
	scrollcorner {
		background: #333 !important;
	}

	div[id^="4chan_ext_iqr"],
	div[id^="4chan_ext_iqr"] *,
	#header,
	#navbot,
	#navbot:after,
	#options input,
	#qr,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#quickrep,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#qr label input,
	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	.bd,
	.boxcontent>hr,
	.boxcontent input,
	.boxcontent textarea,
	.pages,
	h3,
	html,
	body,
	div.postarea>form td:nth-of-type(3)>label input,
	div[id^=qr],
	table.reply[style^="clear: both"] {
		background-color: #2c2c2c !important;
	}

	#backwash_tooltip,
	#cc-showpostarea,
	#twi_table_div,
	#twi_table_div *,
	#qp,
	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	#popup,
	.chanchimp,
	.chanchimp>div,
	.recaptchatable #recaptcha_response_field:hover,
	.deletebuttons input[type="password"]:hover,
	div[id^=ref],
	input:hover,
	input[type="file"]>input[type="button"]
	input[type="submit"]:hover,
	td.replyhl,
	textarea:hover {
		background-color: #393939 !important;
	}

	.recaptchatable #recaptcha_response_field:focus,
	.deletebuttons input[type="password"]:focus,
	input:focus,
	input[type="submit"]:focus,
	textarea:focus {
		background-color: #3f3f3f !important;
	}

	input[type=checkbox],
	#options input[type=checkbox] {
		border-radius: 2px !important;
		background: #444 !important;
	}

	input[type=checkbox]:active,
	#options input[type=checkbox]:active {
		background: #aaa !important;
	}

	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked,
	thumb:active {
		background: #111 !important;
	}

	thumb {
		border-color: #333 !important;
		background: #262626;
	}

	#crntBoard {
		border-right-color: #393939 !important;
	}

	html body span[style="left: 5px; position: absolute;"] a,
	input[type="submit"],
	#com_submit,
	input[type="file"]>input[type="button"] {
		background-color: #303030 !important;
	}

	html body span[style="left: 5px; position: absolute;"] a:hover,
	#com_submit:hover,
	input[type="submit"]:hover,
	input[type="file"]>input[type="button"]:hover {
		background-color: #363636 !important;
	}

	thumb:hover {
		background: #3f3f3f;
	}

	td[style="border: 1px dashed;"],
	td.reply>tr>td.reply {
		/* Inline Quotes */
		background-color: rgba(0,0,0,0.1) !important;
		border: none !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(0,0,0,.2) !important;
	}

	.new {
		background-color: rgba(255,255,255,.5) !important;
		color: #000 !important;
	}

	form[name^="post"] .postblock b,
	.postarea tr:nth-child(4) .postblock b:after,
	.postarea form[name^="post"]:after,
	#maxchars {
		color: rgba(255,255,255,0.2) !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#qr input::-webkit-input-placeholder,
	#qr textarea::-webkit-input-placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: rgba(255,255,255,0.1) !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type="checkbox"]),
	#qr table .recaptchatable #recaptcha_image,
	#updater input:not([type="checkbox"]),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp>div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type="checkbox"]),
	#qr_captcha input,
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	textarea {
		border: none !important;
	}

	#qr input[type="checkbox"],
	input[type="checkbox"] {
		border: none !important;
	}

	.postarea form[name^="post"] .recaptcha_image_cell>center>#recaptcha_image,
	.postarea form[name^="post"] #recaptcha_image img {
		width: 248px !important;
		height: 47px !important;
	}

	.boxcontent dd,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #2c2c2c !important;
	}

	#watcher .move,
	#twi_table_div .postblock {
		border-bottom: 1px #2c2c2c solid !important;
	}

	.postarea form[name="post"]:after {
		background-color: #333 !important;
		border-radius: 6px 6px 0 0;
	}

	.postarea textarea:focus {
		bottom: 171px !important; /* Borders change the dimensions of the postform slightly. */
	}

	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	#options input,
	#qr,
	#quickrep,
	div[id^=qr],
	table.reply[style^="clear: both"] {
		border: none !important;
	}

	form[name="delform"]>div:not(.thread) select {
		margin: 1px 0 0 0 !important;
	}

	form[name="delform"]>div:not(.thread) select,
	.pages input[type="submit"] {
		height: 15px !important;
	}
/* Adblock */
	img[src^="http://static.4chan.org/support/"] {
		display: none;
	}
}

@-moz-document domain(rs.4chan.org) {
/* /rs/ hacks */
	.postarea {
		margin-top: 20px !important;
	}

	.postarea form:first-child,
	.postarea .postblock,
	.postarea .postblock b {
		position: static !important;
	}

	body table table {
		width: 100% !important;
	}

	.postarea tr:nth-of-type(1) .postblock b:after {
		content: "";
	}

	.postarea tr:nth-of-type(2) .postblock b:after {
		content: "";
	}
}

@-moz-document url-prefix('http://www.4chan.org/') {
	html,
	body {
		height: 100%;
		width: 100%;
	}

	body {
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		display: -moz-box;
		-moz-box-pack: center;
		-moz-box-align: center;
		display: -o-box;
		-o-box-pack: center;
		-o-box-align: center;
	}

	#doc,
	#ft ul {
		min-width: 0 !important;
		max-width: 1280px !important;
		width: auto !important;
	}

	#ft ul {
		text-align: center !important;
	}

	#ft li {
		float: none !important;
		display: inline-block !important;
		margin: 0 !important;
		padding: 0 12px !important;
	}

	#boards .column {
		width: auto !important;
		margin: 0px 5px 0px 5px !important;
	}
}

@-moz-document  url("http://www.4chan.org/banned") {
	html {
		display: table !important;
	}

	body {
		display: table-cell !important;
		vertical-align: middle !important;
	}

	html,
	body {
		height: 100% !important;
	}

	html,
	body,
	img {
		margin: auto !important;
	}

	#doc {
		width: 65% !important;
		min-width: 800px !important;
	}

	img {
		display: block !important;
	}

	#ft ul {
		text-align: center !important;
	}

	#ft li {
		float: none !important !important;
		display: inline-block !important;
	}

	b {
		font-weight: 800 !important;
	}
}

@-moz-document url-prefix("http://www.4chan.org"),
domain("rs.4chan.org"),
domain("sys.4chan.org") {
	html, body {
		background-image: none !important;
	}
}
@-moz-document url-prefix(http://boards.4chan.org/a/) {
	#navtop>a[href*="/a/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/a/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/b/) {
	#navtop>a[href*="/b/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/b/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/c/) {
	#navtop>a[href*="/c/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/c/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/d/) {
	#navtop>a[href*="/d/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/d/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/e/) {
	#navtop>a[href*="/e/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/e/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/g/) {
	#navtop>a[href*="/g/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/g/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/gif/) {
	#navtop>a[href*="/gif/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/gif/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/h/) {
	#navtop>a[href*="/h/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/h/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/hr/) {
	#navtop>a[href*="/hr/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/hr/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/k/) {
	#navtop>a[href*="/k/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/k/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/m/) {
	#navtop>a[href*="/m/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/m/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/o/) {
	#navtop>a[href*="/o/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/o/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/p/) {
	#navtop>a[href*="/p/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/p/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/r/) {
	#navtop>a[href*="/r/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/r/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/s/) {
	#navtop>a[href*="/s/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/s/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/t/) {
	#navtop>a[href*="/t/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/t/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/u/) {
	#navtop>a[href*="/u/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/u"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/v/) {
	#navtop>a[href*="/v/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/v/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/w/) {
	#navtop>a[href*="/w/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/w/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/wg/) {
	#navtop>a[href*="/wg/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/wg/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/i/) {
	#navtop>a[href*="/i/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/i/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/ic/) {
	#navtop>a[href*="/ic/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/ic/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/cm/) {
	#navtop>a[href*="/cm/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/cm/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/y/) {
	#navtop>a[href*="/y/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/y/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/3/) {
	#navtop>a[href*="/3/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/3/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/adv/) {
	#navtop>a[href*="/adv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/adv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/an/) {
	#navtop>a[href*="/an/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/an/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/cgl/) {
	#navtop>a[href*="/cgl/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/cgl/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/ck/) {
	#navtop>a[href*="/ck/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important;}
	#navtop>a[href*="/ck/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/co/) {
	#navtop>a[href*="/co/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/co/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/fa/) {
	#navtop>a[href*="/fa/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/fa/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/fit/) {
	#navtop>a[href*="/fit/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/fit/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/int/) {
	#navtop>a[href*="/int/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/int/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/jp/) {
	#navtop>a[href*="/jp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/jp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/lit/) {
	#navtop>a[href*="/lit/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/lit/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/mu/) {
	#navtop>a[href*="/mu/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/mu/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/n/) {
	#navtop>a[href*="/n/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/n/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/po/) {
	#navtop>a[href*="/po/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/po/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/sci/) {
	#navtop>a[href*="/sci/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/sci/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/soc/) {
	#navtop>a[href*="/soc/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/soc/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/sp/) {
	#navtop>a[href*="/sp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/sp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/tg/) {
	#navtop>a[href*="/tg/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/tg/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/toy/) {
	#navtop>a[href*="/toy/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/toy/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/trv/) {
	#navtop>a[href*="/trv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/trv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/tv/) {
	#navtop>a[href*="/tv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/tv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/vp/) {
	#navtop>a[href*="/vp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/vp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://rs.4chan.org/) {
	#navtop>a[href*="rs."] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="rs."]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/x/) {
	#navtop>a[href*="/x/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/x/"]:hover { background: rgba(255,255,255,.15) !important; }
}
