/*[[ColorScheme]]*/
/* See './Color Schemes/' */
/* End */

/*[[background]]*/
/* Yuki Nagato [s]: */
url('http://i.imgur.com/Un9LT.png')
/* Yuki Nagato (+Pantsu) [s]: */
url('http://i.imgur.com/hPb5E.png')
/* Horo [s]: */
url('http://i.imgur.com/4xcQf.png')
/* Original Horo [s]: */
url('http://i.imgur.com/5qN2B.png')
/* Kagamine Rin: */
url('http://i.imgur.com/usbZ0.png')
/* Kinomoto Sakura: */
url('http://i.imgur.com/CVuge.png')
/* Shana: */
url('http://i.imgur.com/TtMMD.png')
/* None: */
none
/* End */

/*[[Font]]*/
/* Don't Care: */
/* Common Linux font, web font, common Windows font, common OS X font, common font */
"Ubuntu", "Droid Sans", "Terminus", "Calibri", "Lucida Grande", "Helvetica"
/* Ubuntu: */
"Ubuntu"
/* Droid Sans: */
"Droid Sans"
/* Terminus: */
"Terminus"
/* Calibri: */
"Calibri"
/* Lucidia Grande */
"Lucida Grande"
/* Helvetica */
"Helvetica"
/* END */

/*[[FontSize]]*/
/* Small */
12px
/* Medium */
14px
/* Large */
16px
/* END */

/*[[Margin]]*/
/* Yes: */
padding: 0 252px 0 2px !important;
	}

	.op>blockquote,
	.thread>blockquote,
	form[name='delform']>blockquote {
		text-shadow: none !important;
	}

	.replyhider a {
		position: absolute;
		right: 255px;
/* No: */
padding: 0 2px 0 2px !important;
	}

	.replyhider a {
		position: absolute;
		right: 5px;
/* End */

/*[[StickyNavigation]]*/
/* Yes: */
	#header,
	.pages {
		position: fixed !important;
	}

	.pages {
		padding: 0 250px 0 0 !important;
	}

	.navlinks {
		padding-top: 14px
	}

	#header {
		top: 0 !important;
	}

	.pages {
		top: auto !important;
		bottom: 0 !important;
	}

	#navbar {
		margin-left: -265px !important;
		bottom: 16px !important;
		height: 26px !important;
	}

	table[width="100%"]~#navbar {
		bottom: 0 !important;
	}

	#boardsMenu {
		bottom: 46px !important;
	}

	table[width="100%"]~#navbar #boardsMenu {
		bottom: 26px !important;
	}
/* No: */
	#header {
		position: absolute !important;
	}

	.pages {
		padding: 0 !important;
	}
/* Invert */
	#header,
	.pages {
		position: fixed !important;
	}

	.navlinks {
		padding-top: 14px;
	}

	table[width="100%"]~.navlinks {
		padding-top: 0;
	}

	#header {
		top: auto !important;
		bottom: 0 !important;
	}

	.pages {
		bottom: auto !important;
		top: 0 !important;
	}

	#navbar {
		margin-left: -265px !important;
		bottom: 16px !important;
		height: 26px !important;
	}

	#boardsMenu {
		bottom: 46px !important;
	}
/* Slideout */
	#header {
		position: absolute !important;
	}

	.pages {
		padding: 0 !important;
	}

	#navbot:after {
		cursor: default;
		position: fixed !important;
		display: block !important;
		left: auto !important;
		top: 0px !important;
		height: 16px !important;
		width: 80px;
		border-width: 0 1px 1px 0 !important;
		font-size: 10px !important;
		vertical-align: bottom !important;
		text-align: center !important;
		opacity: 0.5 !important;
		-webkit-transition: all 0.3s ease-in-out !important;
		-moz-transition: all 0.3s ease-in-out !important;
		-o-transition: all 0.3s ease-in-out !important;
		content: "-Navigation-";
	}
	#navbot:hover:after {
		top: 41px !important;
		z-index: 1;
		border: none !important;
		opacity: 1 !important;
		background: none !important;
	}
	#navbot:hover {
		top: 0px !important;
	}
	#navbot {
		visibility: visible !important;
		position: fixed !important;
		top: -61px !important;
		left: 0px !important;
		right: auto !important;
		z-index: 2;
		color: transparent !important;
		padding: 0 10px 20px 10px !important;
		border-width: 0 1px 1px 0 !important;
		width: 310px !important;
		height: 40px !important;
		text-align: center !important;
		-webkit-transition: all 0.3s ease-in-out !important;
		-moz-transition: all 0.3s ease-in-out !important;
		-o-transition: all 0.3s ease-in-out !important;
	}
/* Slideout Invert */
	.pages {
		position: fixed !important;
		bottom: auto !important;
		top: 0 !important;
	}

	#navtop {
		display: none !important;
	}

	#navbot:after {
		cursor: default;
		position: fixed !important;
		display: block !important;
		left: auto !important;
		bottom: 0 !important;
		height: 16px !important;
		width: 80px;
		border-width: 0 1px 1px 0 !important;
		font-size: 10px !important;
		vertical-align: bottom !important;
		text-align: center !important;
		opacity: 0.5 !important;
		-webkit-transition: all 0.3s ease-in-out !important;
		-moz-transition: all 0.3s ease-in-out !important;
		-o-transition: all 0.3s ease-in-out !important;
		content: "-Navigation-";
	}

	#navbot:hover:after {
		z-index: 1;
		border: none !important;
		opacity: 1 !important;
		background: none !important;
	}

	#navbot:hover {
		bottom: 0px !important;
	}

	#navbot {
		visibility: visible !important;
		position: fixed !important;
		bottom: -61px !important;
		left: 0px !important;
		right: auto !important;
		color: transparent !important;
		z-index: 2;
		padding: 0 10px 20px 10px !important;
		border-width: 0 1px 1px 0 !important;
		width: 310px !important;
		height: 40px !important;
		text-align: center !important;
		-webkit-transition: all 0.3s ease-in-out !important;
		-moz-transition: all 0.3s ease-in-out !important;
		-o-transition: all 0.3s ease-in-out !important;
	}
/* End */

/*[[CompactNavigation]]*/
/* Yes: */
	#header a,
	.pages a,
	.pages b,
	.pages input {
		margin: 0 1px 0 2px;
	}
/* No: */
	#header a,
	.pages a,
	.pages b,
	.pages input {
		margin: 0 1px;
		min-width: 14px;
	}
/* End */

/*[[BoardHighlight]]*/
/* Yes: */
/* Current Board Navigation Highlight, mostly based off of CSS from 4chan ~ Momiji by !K.WeEabo0o. */
@-moz-document url-prefix(http://boards.4chan.org/a/) {
	#navtop>a[href*="/a/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/a/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/b/) {
	#navtop>a[href*="/b/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/b/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/c/) {
	#navtop>a[href*="/c/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/c/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/d/) {
	#navtop>a[href*="/d/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/d/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/e/) {
	#navtop>a[href*="/e/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/e/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/g/) {
	#navtop>a[href*="/g/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/g/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/gif/) {
	#navtop>a[href*="/gif/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/gif/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/h/) {
	#navtop>a[href*="/h/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/h/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/hr/) {
	#navtop>a[href*="/hr/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/hr/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/k/) {
	#navtop>a[href*="/k/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/k/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/m/) {
	#navtop>a[href*="/m/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/m/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/o/) {
	#navtop>a[href*="/o/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/o/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/p/) {
	#navtop>a[href*="/p/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/p/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/r/) {
	#navtop>a[href*="/r/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/r/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/s/) {
	#navtop>a[href*="/s/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/s/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/t/) {
	#navtop>a[href*="/t/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/t/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/u/) {
	#navtop>a[href*="/u/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/u"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/v/) {
	#navtop>a[href*="/v/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/v/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/w/) {
	#navtop>a[href*="/w/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/w/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/wg/) {
	#navtop>a[href*="/wg/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/wg/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/i/) {
	#navtop>a[href*="/i/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/i/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/ic/) {
	#navtop>a[href*="/ic/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/ic/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/cm/) {
	#navtop>a[href*="/cm/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/cm/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/y/) {
	#navtop>a[href*="/y/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/y/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/3/) {
	#navtop>a[href*="/3/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/3/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/adv/) {
	#navtop>a[href*="/adv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/adv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/an/) {
	#navtop>a[href*="/an/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/an/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/cgl/) {
	#navtop>a[href*="/cgl/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/cgl/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/ck/) {
	#navtop>a[href*="/ck/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important;}
	#navtop>a[href*="/ck/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/co/) {
	#navtop>a[href*="/co/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/co/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/fa/) {
	#navtop>a[href*="/fa/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/fa/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/fit/) {
	#navtop>a[href*="/fit/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/fit/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/int/) {
	#navtop>a[href*="/int/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/int/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/jp/) {
	#navtop>a[href*="/jp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/jp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/lit/) {
	#navtop>a[href*="/lit/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/lit/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/mu/) {
	#navtop>a[href*="/mu/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/mu/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/n/) {
	#navtop>a[href*="/n/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/n/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/po/) {
	#navtop>a[href*="/po/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/po/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/sci/) {
	#navtop>a[href*="/sci/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/sci/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/soc/) {
	#navtop>a[href*="/soc/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/soc/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/sp/) {
	#navtop>a[href*="/sp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/sp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/tg/) {
	#navtop>a[href*="/tg/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/tg/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/toy/) {
	#navtop>a[href*="/toy/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/toy/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/trv/) {
	#navtop>a[href*="/trv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/trv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/tv/) {
	#navtop>a[href*="/tv/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/tv/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/vp/) {
	#navtop>a[href*="/vp/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/vp/"]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://rs.4chan.org/) {
	#navtop>a[href*="rs."] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="rs."]:hover { background: rgba(255,255,255,.15) !important; }
}

@-moz-document url-prefix(http://boards.4chan.org/x/) {
	#navtop>a[href*="/x/"] { background: rgba(0,0,0,0.3) !important; color: #ccc !important; font-weight: 700 !important; }
	#navtop>a[href*="/x/"]:hover { background: rgba(255,255,255,.15) !important; }
}
/* No: */

/* End */

/*[[PagesPosition]]*/
/* Side */
	.pages {
		padding: 0 !important;
		visibility: hidden;
		top: auto !important;
		bottom: 311px !important;
		width: auto !important;
		left: auto !important;
		right: 251px !important;
		position: fixed;
		-webkit-transform: rotate(90deg);
		-webkit-transform-origin: bottom right;
		-moz-transform: rotate(90deg);
		-moz-transform-origin: bottom right;
		-o-transform: rotate(90deg);
		-o-transform-origin: bottom right;
		letter-spacing: -1px;
		word-spacing: -6px;
	}

	.pages a, .pages b, .pages input {
		visibility: visible;
		min-width: 0;
	}
/* Normal: */

/* End */

/*[[boardlogo]]*/
/* Board Name */
	div.logo {
		position: fixed !important;
		right: 2px !important;
		bottom: 370px !important;
		width: 248px !important;
		z-index: 1;
		text-align: center;
	}

	div.logo img {
		display: none;
	}
/* Logo */
	div.logo>*:not(img) {
		display: none;
	}
/* Board Name + Logo */
	div.logo {
		position: fixed !important;
		right: 2px !important;
		bottom: 393px !important;
		width: 248px !important;
		z-index: 1;
		text-align: center;
	}
/* Hide Both */
	div.logo {
		display: none;
	}
/* End */

/*[[PostForm]]*/
/* Fixed: */
		right: 2px !important;
/* Slideout */
		right: -233px !important;
		-webkit-transition: right .3s ease-in-out 3s;
		-moz-transition: right .3s ease-in-out 3s;
		-o-transition: right .3s ease-in-out 3s;
	}

	.postarea form[name="post"]:hover {
		right: 2px !important;
		-webkit-transition: right .3s linear;
		-moz-transition: right .3s linear;
		-o-transition: right .3s linear;
	}

	.postarea form[name="post"] tr:nth-child(4) {
		height: 79px !important;
	}

	.postarea textarea:focus {
		position: fixed !important;
		right: 2px !important;
		bottom: 171px !important;
/* Tabbled Slideout: FX4, buggy in Chrome */
		right: -248px !important;
		-webkit-transition: right .3s ease-in-out 3s;
		-moz-transition: right .3s ease-in-out 3s;
		-o-transition: right .3s ease-in-out 3s;
	}

	.postarea form[name="post"]:hover {
		right: 2px !important;
		-webkit-transition: right .3s linear;
		-moz-transition: right .3s linear;
		-o-transition: right .3s linear;
	}

	.postarea form[name="post"]:after {
		-webkit-transform: rotate(-90deg);
		-webkit-transform-origin: bottom left;
		-moz-transform: rotate(-90deg);
		-moz-transform-origin: bottom left;
		-o-transform: rotate(-90deg);
		-o-transform-origin: bottom left;
		width: 210px;
		display: block;
		font-size: 10px !important;
		margin-right: 40px !important;
		margin-top: -31px !important;
		margin-bottom: 18px;
		opacity: 1;
		text-align: center;
		content: "POST FORM - POST FORM - POST FORM";
		-webkit-transition: all .3s ease-in-out 3s;
		-moz-transition: all .3s ease-in-out 3s;
		-o-transition: all .3s ease-in-out 3s;
	}

	.postarea form[name="post"]:hover:after {
		opacity: 0;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-o-transition: all .3s linear;
	}

	.postarea form[name="post"] tr:nth-child(4) {
		height: 79px !important;
	}

	.postarea textarea:focus {
		position: fixed !important;
		right: 2px !important;
		bottom: 172px !important;
		z-index: 3;
/* Transparent to Opaque: */
		right: 2px !important;
		opacity: 0.2;
		-webkit-transition: opacity .3s ease-in-out 3s;
		-moz-transition: opacity .3s ease-in-out 3s;
		-o-transition: opacity .3s ease-in-out 3s;
	}

	.postarea form[name="post"]:hover {
		opacity: 1;
		-webkit-transition: opacity .3s linear;
		-moz-transition: opacity .3s linear;
		-o-transition: opacity .3s linear;
/* End */

/*[[QuickReply]]*/
/* Yes: */
	table[width="100%"]~.postarea,
	table[width="100%"]~#quickrep .move,
	table[width="100%"]~#qr .move input:not([name="name"]),
	table[width="100%"]~.postarea * {
		display: none !important;
	}

	table[width="100%"]~#qr.auto:not(:hover) form,
	table[width="100%"]~#qr.auto:not(:hover) #recaptcha_reload_btn {
		display: block !important;
	}

	table[width="100%"]~#qr > #qr_form,
	table[width="100%"]~#qr.auto > #qr_form {
		overflow: visible !important;
		height: 227px !important;
	}

	table[width="100%"]~* form[name^='post'] input[type="file"][name="upfile"] > input[type="text"],
	table[width="100%"]~* form[name^='post'] input.inputtext[name="sub"] {
		width: 197px !important;
	}

	table[width="100%"]~* form[name^='post'] #recaptcha_widget_div {
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] #recaptcha_reload_btn,
	table[width="100%"]~* body > table ~ .refreshBtn {
		bottom: 63px !important;
		right: 1px !important;
	}

	table[width="100%"]~* .recaptcha_image_cell>center,
	table[width="100%"]~* .recaptcha_image_cell,
	table[width="100%"]~* form[name^='post'] tr[height="73"] {
		height: auto !important;
	}

	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#quick_recaptcha_image,
	table[width="100%"]~* form[name^='post'] #recaptcha_image img,
	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#quick_recaptcha_image img,
	table[width="100%"]~#qr img {
		width: 248px !important;
		height: 47px !important;
	}

	table[width="100%"]~[id^='q'] .error {
		visibility: visible !important;
		position: fixed !important;
		bottom: 63px !important;
		height: 19px !important;
		width: 248px !important;
		right: 2px !important;
		top: auto !important;
		left: auto !important;
		background-color: #aaa !important;
		color: #000 !important;
	}

	table[width="100%"]~* form[name^='post'] {
		margin-bottom: 0px !important;
		z-index: 2 !important;
	}

	table[width="100%"]~*[id^="q"] table {
		border-collapse: collapse !important;
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] input[name="sub"],
	table[width="100%"]~* form[name^='post'] textarea.inputtext,
	table[width="100%"]~* form[name^='post'] input.inputtext,
	table[width="100%"]~* form[name^='post'] .recaptchatable {
		margin-top: 1px !important;
	}

	table[width="100%"]~* form[name^='post'] textarea.inputtext,
	table[width="100%"]~* form[name^='post'] input.inputtext,
	table[width="100%"]~* form[name^='post'] input[name="upfile"],
	table[width="100%"]~* .recaptchatable,
	table[width="100%"]~* form[name^='post'] input[name="recaptcha_response_field"],
	table[width="100%"]~#qr input.inputtext:not([name="sub"]),
	table[width="100%"]~#qr #qr_captcha,
	table[width="100%"]~#qr textarea,
	table[width="100%"]~#qr form {
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center,
	table[width="100%"]~* #r_captcha_div img,
	table[width="100%"]~* #r_captcha_div input {
		width: 248px !important;
		text-align: left !important;
	}

	table[width="100%"]~#quickrep,
	table[width="100%"]~#qr .move {
		visibility: hidden !important;
		font-size: 0 !important;
	}

	table[width="100%"]~#qr .move input[name="name"] {
		visibility: visible !important;
	}

	table[width="100%"]~*:not(#qr) form[name^='post'] {
		visibility: visible !important;
		width: 248px !important;
		background-color: transparent !important;
		position: fixed !important;
		margin: 0 !important;
		padding: 0 !important;
		top: auto !important;
		bottom: 62px !important;
		right: 2px !important;
		left: auto !important;
	}

	table[width="100%"]~#qr {
		top: auto !important;
		bottom: 60px !important;
		right: 0px !important;
		left: auto !important;
		width: 248px !important;
		background-color: transparent !important;
	}

	table[width="100%"]~* form>table>tbody>tr>td>label {
		top: 0;
	}

	table[width="100%"]~* form[name^='post'] tr:nth-of-type(3)>td:nth-of-type(3),
	table[width="100%"]~* form tr:nth-of-type(3)>td:nth-of-type(3) {
		font-size: 0 !important;
		color: transparent !important;
	}

	table[width="100%"]~* form[name^='post'] textarea.inputtext {
		height: 78px !important;
		min-height: 78px !important;
		width: 248px !important;
		resize: none;
	}

	table[width="100%"]~* form[name^='post'] label:first-of-type {
		display: none !important;
	}

	table[width="100%"]~* form[name^='post'] label:last-of-type {
		text-align: right !important;
		position: absolute !important;
		bottom: 0px !important;
		right: 55px !important;
	}

	table[width="100%"]~* form[name^='post'] tr .postblock b {
		right: 3px;
	}

	table[width="100%"]~* form[name^='post'] tr:nth-of-type(3n) .postblock b {
		right: 54px;
	}

	.fake input[type="file"]::-webkit-file-upload-button, /* Cheating. Firefox Stylish will ignore this block */
	table[width="100%"]~* form[name^='post'] tr:nth-of-type(6) .postblock b {
		right: 3px !important;
	}

	table[width="100%"]~* form[name^='post'] #maxchars {
		bottom: 110px;
		right: 3px;
	}

	table[width="100%"]~* form[name^='post'] label {
	/* Spoiler Image label */
		top: auto !important;
		bottom: 0 !important;
		right: 55px !important;
	}
/* ...and slideout: */
	table[width="100%"]~.postarea,
	table[width="100%"]~#quickrep .move,
	table[width="100%"]~#qr .move input:not([name="name"]),
	table[width="100%"]~.postarea * {
		display: none !important;
	}

	table[width="100%"]~#qr.auto:not(:hover) form,
	table[width="100%"]~#qr.auto:not(:hover) #recaptcha_reload_btn {
		display: block !important;
	}

	table[width="100%"]~#qr > #qr_form,
	table[width="100%"]~#qr.auto > #qr_form {
		overflow: visible !important;
		height: 227px !important;
	}

	table[width="100%"]~* form[name^='post'] input[type="file"][name="upfile"] > input[type="text"],
	table[width="100%"]~* form[name^='post'] input.inputtext[name="sub"] {
		width: 197px !important;
	}

	table[width="100%"]~* form[name^='post'] #recaptcha_widget_div {
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] #recaptcha_reload_btn,
	table[width="100%"]~* body > table ~ .refreshBtn {
		bottom: 63px !important;
		right: 1px !important;
	}

	table[width="100%"]~* .recaptcha_image_cell>center,
	table[width="100%"]~* .recaptcha_image_cell,
	table[width="100%"]~* form[name^='post'] tr[height="73"] {
		height: auto !important;
	}

	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#quick_recaptcha_image,
	table[width="100%"]~* form[name^='post'] #recaptcha_image img,
	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#quick_recaptcha_image img,
	table[width="100%"]~#qr img {
		width: 248px !important;
		height: 47px !important;
	}

	table[width="100%"]~[id^='q'] .error {
		visibility: visible !important;
		position: fixed !important;
		bottom: 63px !important;
		height: 19px !important;
		width: 248px !important;
		right: 2px !important;
		top: auto !important;
		left: auto !important;
		background-color: #aaa !important;
		color: #000 !important;
	}

	table[width="100%"]~* form[name^='post'] {
		margin-bottom: 0px !important;
		z-index: 2 !important;
	}

	table[width="100%"]~*[id^="q"] table {
		border-collapse: collapse !important;
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] input[name="sub"],
	table[width="100%"]~* form[name^='post'] textarea.inputtext,
	table[width="100%"]~* form[name^='post'] input.inputtext,
	table[width="100%"]~* form[name^='post'] .recaptchatable {
		margin-top: 1px !important;
	}

	table[width="100%"]~* form[name^='post'] textarea.inputtext,
	table[width="100%"]~* form[name^='post'] input.inputtext,
	table[width="100%"]~* form[name^='post'] input[name="upfile"],
	table[width="100%"]~* .recaptchatable,
	table[width="100%"]~* form[name^='post'] input[name="recaptcha_response_field"],
	table[width="100%"]~#qr input.inputtext:not([name="sub"]),
	table[width="100%"]~#qr #qr_captcha,
	table[width="100%"]~#qr textarea,
	table[width="100%"]~#qr form {
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center,
	table[width="100%"]~* #r_captcha_div img,
	table[width="100%"]~* #r_captcha_div input {
		width: 248px !important;
		text-align: left !important;
	}

	table[width="100%"]~#quickrep,
	table[width="100%"]~#qr .move {
		visibility: hidden !important;
		font-size: 0 !important;
	}

	table[width="100%"]~#qr .move input[name="name"] {
		visibility: visible !important;
	}

	table[width="100%"]~*:not(#qr) form[name^='post'] {
		visibility: visible !important;
		width: 248px !important;
		background-color: transparent !important;
		position: fixed !important;
		margin: 0 !important;
		padding: 0 !important;
		top: auto !important;
		bottom: 62px !important;
		left: auto !important;
		right: -233px !important;
		-webkit-transition: right .3s ease-in-out 3s;
		-moz-transition: right .3s ease-in-out 3s;
		-o-transition: right .3s ease-in-out 3s;
	}

	table[width="100%"]~#qr {
		top: auto !important;
		bottom: 60px !important;
		left: auto !important;
		width: 248px !important;
		background-color: transparent !important;
		right: -235px !important;
		-webkit-transition: right .3s ease-in-out 3s;
		-moz-transition: right .3s ease-in-out 3s;
		-o-transition: right .3s ease-in-out 3s;
	}

	table[width="100%"]~*:not(#qr) form[name^='post']:hover {
		right: 2px !important;
		-webkit-transition: right .3s linear;
		-moz-transition: right .3s linear;
		-o-transition: right .3s linear;
	}

	table[width="100%"]~#qr:hover {
		right: 0 !important;
		-webkit-transition: right .3s linear;
		-moz-transition: right .3s linear;
		-o-transition: right .3s linear;
	}

	table[width="100%"]~* form[name="post"] tr:nth-child(4),
	table[width="100%"]~* form[name="post"]>div:nth-of-type(3) {
		height: 79px !important;
	}

	table[width="100%"]~* form[name="post"] textarea:focus {
		position: fixed !important;
		right: 2px !important;
		bottom: 170px !important;
	}

	table[width="100%"]~* form>table>tbody>tr>td>label {
		top: 0;
	}

	table[width="100%"]~* form[name^='post'] tr:nth-of-type(3)>td:nth-of-type(3),
	table[width="100%"]~* form tr:nth-of-type(3)>td:nth-of-type(3) {
		font-size: 0 !important;
		color: transparent !important;
	}

	table[width="100%"]~* form[name^='post'] textarea.inputtext {
		height: 78px !important;
		min-height: 78px !important;
		width: 248px !important;
		resize: none;
	}

	table[width="100%"]~* form[name^='post'] label:first-of-type {
		display: none !important;
	}

	table[width="100%"]~* form[name^='post'] label:last-of-type {
		text-align: right !important;
		position: absolute !important;
		bottom: 0px !important;
		right: 55px !important;
	}

	table[width="100%"]~* form[name^='post'] tr .postblock b {
		right: 3px;
	}

	table[width="100%"]~* form[name^='post'] tr:nth-of-type(3n) .postblock b {
		right: 54px;
	}

	.fake input[type="file"]::-webkit-file-upload-button, /* Cheating. Firefox Stylish will ignore this block */
	table[width="100%"]~* form[name^='post'] tr:nth-of-type(6) .postblock b {
		right: 3px !important;
	}

	table[width="100%"]~* form[name^='post'] #maxchars {
		bottom: 110px;
		right: 3px;
	}

	table[width="100%"]~* form[name^='post'] label {
	/* Spoiler Image label */
		top: auto !important;
		bottom: 0 !important;
		right: 55px !important;
	}
/* ...and tabbed slideout (buggy in Chrome) */
	table[width="100%"]~.postarea,
	table[width="100%"]~#quickrep .move,
	table[width="100%"]~#qr .move input:not([name="name"]),
	table[width="100%"]~.postarea * {
		display: none !important;
	}

	table[width="100%"]~#qr.auto:not(:hover) form,
	table[width="100%"]~#qr.auto:not(:hover) #recaptcha_reload_btn {
		display: block !important;
	}

	table[width="100%"]~#qr > #qr_form,
	table[width="100%"]~#qr.auto > #qr_form {
		overflow: visible !important;
		height: 227px !important;
	}

	table[width="100%"]~* form[name^='post'] input[type="file"][name="upfile"] > input[type="text"],
	table[width="100%"]~* form[name^='post'] input.inputtext[name="sub"] {
		width: 197px !important;
	}

	table[width="100%"]~* form[name^='post'] #recaptcha_widget_div {
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] #recaptcha_reload_btn,
	table[width="100%"]~* body > table ~ .refreshBtn {
		bottom: 63px !important;
		right: 1px !important;
	}

	table[width="100%"]~* .recaptcha_image_cell>center,
	table[width="100%"]~* .recaptcha_image_cell,
	table[width="100%"]~* form[name^='post'] tr[height="73"] {
		height: auto !important;
	}

	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#quick_recaptcha_image,
	table[width="100%"]~* form[name^='post'] #recaptcha_image img,
	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#quick_recaptcha_image img,
	table[width="100%"]~#qr img {
		width: 248px !important;
		height: 47px !important;
	}

	table[width="100%"]~[id^='q'] .error {
		visibility: visible !important;
		position: fixed !important;
		bottom: 63px !important;
		height: 19px !important;
		width: 248px !important;
		right: 2px !important;
		top: auto !important;
		left: auto !important;
		background-color: #aaa !important;
		color: #000 !important;
	}

	table[width="100%"]~* form[name^='post'] {
		margin-bottom: 0px !important;
		z-index: 2 !important;
	}

	table[width="100%"]~*[id^="q"] table {
		border-collapse: collapse !important;
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] input[name="sub"],
	table[width="100%"]~* form[name^='post'] textarea.inputtext,
	table[width="100%"]~* form[name^='post'] input.inputtext,
	table[width="100%"]~* form[name^='post'] .recaptchatable {
		margin-top: 1px !important;
	}

	table[width="100%"]~* form[name^='post'] textarea.inputtext,
	table[width="100%"]~* form[name^='post'] input.inputtext,
	table[width="100%"]~* form[name^='post'] input[name="upfile"],
	table[width="100%"]~* .recaptchatable,
	table[width="100%"]~* form[name^='post'] input[name="recaptcha_response_field"],
	table[width="100%"]~#qr input.inputtext:not([name="sub"]),
	table[width="100%"]~#qr #qr_captcha,
	table[width="100%"]~#qr textarea,
	table[width="100%"]~#qr form {
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center,
	table[width="100%"]~* #r_captcha_div img,
	table[width="100%"]~* #r_captcha_div input {
		width: 248px !important;
		text-align: left !important;
	}

	table[width="100%"]~#quickrep,
	table[width="100%"]~#qr .move {
		visibility: hidden !important;
		font-size: 0 !important;
	}

	table[width="100%"]~#qr .move input[name="name"] {
		visibility: visible !important;
	}

	table[width="100%"]~*:not(#qr) form[name^='post'] {
		visibility: visible !important;
		width: 248px !important;
		background-color: transparent !important;
		position: fixed !important;
		margin: 0 !important;
		padding: 0 !important;
		top: auto !important;
		bottom: 62px !important;
		left: auto !important;
		right: -248px !important;
		-webkit-transition: right .3s ease-in-out 3s;
		-moz-transition: right .3s ease-in-out 3s;
		-o-transition: right .3s ease-in-out 3s;
	}

	table[width="100%"]~#qr {
		top: auto !important;
		bottom: 60px !important;
		left: auto !important;
		width: 248px !important;
		background-color: transparent !important;
		right: -250px !important;
		-webkit-transition: right .3s ease-in-out 3s;
		-moz-transition: right .3s ease-in-out 3s;
		-o-transition: right .3s ease-in-out 3s;
	}

	table[width="100%"]~*:not(#qr) form[name^='post']:hover {
		right: 2px !important;
		-webkit-transition: right .3s linear;
		-moz-transition: right .3s linear;
		-o-transition: right .3s linear;
	}

	table[width="100%"]~#qr:hover {
		right: 0 !important;
		-webkit-transition: right .3s linear;
		-moz-transition: right .3s linear;
		-o-transition: right .3s linear;
	}

	table[width="100%"]~* form[name="post"]:after {
		-webkit-transform: rotate(-90deg);
		-webkit-transform-origin: bottom left;
		-moz-transform: rotate(-90deg);
		-moz-transform-origin: bottom left;
		-o-transform: rotate(-90deg);
		-o-transform-origin: bottom left;
		width: 210px;
		display: block;
		font-size: 10px !important;
		margin-right: 40px !important;
		margin-top: -31px !important;
		margin-bottom: 18px;
		opacity: 1;
		text-align: center;
		content: "POST FORM - POST FORM - POST FORM";
		-webkit-transition: all .3s ease-in-out 3s;
		-moz-transition: all .3s ease-in-out 3s;
		-o-transition: all .3s ease-in-out 3s;
	}

	table[width="100%"]~* form[name="post"]:hover:after {
		opacity: 0;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-o-transition: all .3s linear;
	}

	table[width="100%"]~* form[name="post"] tr:nth-child(4),
	table[width="100%"]~* form[name="post"]>div:nth-of-type(3) {
		height: 79px !important;
	}

	table[width="100%"]~* form[name="post"] textarea:focus {
		position: fixed !important;
		right: 2px !important;
		bottom: 170px !important;
	}

	table[width="100%"]~* form>table>tbody>tr>td>label {
		top: 0;
	}

	table[width="100%"]~* form[name^='post'] tr:nth-of-type(3)>td:nth-of-type(3),
	table[width="100%"]~* form tr:nth-of-type(3)>td:nth-of-type(3) {
		font-size: 0 !important;
		color: transparent !important;
	}

	table[width="100%"]~* form[name^='post'] textarea.inputtext {
		height: 78px !important;
		min-height: 78px !important;
		width: 248px !important;
		resize: none;
	}

	table[width="100%"]~* form[name^='post'] label:first-of-type {
		display: none !important;
	}

	table[width="100%"]~* form[name^='post'] label:last-of-type {
		text-align: right !important;
		position: absolute !important;
		bottom: 0px !important;
		right: 55px !important;
	}

	table[width="100%"]~* form[name^='post'] tr .postblock b {
		right: 3px;
	}

	table[width="100%"]~* form[name^='post'] tr:nth-of-type(3n) .postblock b {
		right: 54px;
	}

	.fake input[type="file"]::-webkit-file-upload-button, /* Cheating. Firefox Stylish will ignore this block */
	table[width="100%"]~* form[name^='post'] tr:nth-of-type(6) .postblock b {
		right: 3px !important;
	}

	table[width="100%"]~* form[name^='post'] #maxchars {
		bottom: 110px;
		right: 3px;
	}

	table[width="100%"]~* form[name^='post'] label {
	/* Spoiler Image label */
		top: auto !important;
		bottom: 0 !important;
		right: 55px !important;
	}
/* ...and fade: */
	table[width="100%"]~.postarea,
	table[width="100%"]~#quickrep .move,
	table[width="100%"]~#qr .move input:not([name="name"]),
	table[width="100%"]~.postarea * {
		display: none !important;
	}

	table[width="100%"]~#qr.auto:not(:hover) form,
	table[width="100%"]~#qr.auto:not(:hover) #recaptcha_reload_btn {
		display: block !important;
	}

	table[width="100%"]~#qr > #qr_form,
	table[width="100%"]~#qr.auto > #qr_form {
		overflow: visible !important;
		height: 227px !important;
	}

	table[width="100%"]~* form[name^='post'] input[type="file"][name="upfile"] > input[type="text"],
	table[width="100%"]~* form[name^='post'] input.inputtext[name="sub"] {
		width: 197px !important;
	}

	table[width="100%"]~* form[name^='post'] #recaptcha_widget_div {
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] #recaptcha_reload_btn,
	table[width="100%"]~* body > table ~ .refreshBtn {
		bottom: 63px !important;
		right: 1px !important;
	}

	table[width="100%"]~* .recaptcha_image_cell>center,
	table[width="100%"]~* .recaptcha_image_cell,
	table[width="100%"]~* form[name^='post'] tr[height="73"] {
		height: auto !important;
	}

	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#quick_recaptcha_image,
	table[width="100%"]~* form[name^='post'] #recaptcha_image img,
	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center>#quick_recaptcha_image img,
	table[width="100%"]~#qr img {
		width: 248px !important;
		height: 47px !important;
	}

	table[width="100%"]~[id^='q'] .error {
		visibility: visible !important;
		position: fixed !important;
		bottom: 63px !important;
		height: 19px !important;
		width: 248px !important;
		right: 2px !important;
		top: auto !important;
		left: auto !important;
		background-color: #aaa !important;
		color: #000 !important;
	}

	table[width="100%"]~* form[name^='post'] {
		margin-bottom: 0px !important;
		z-index: 2 !important;
	}

	table[width="100%"]~*[id^="q"] table {
		border-collapse: collapse !important;
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] input[name="sub"],
	table[width="100%"]~* form[name^='post'] textarea.inputtext,
	table[width="100%"]~* form[name^='post'] input.inputtext,
	table[width="100%"]~* form[name^='post'] .recaptchatable {
		margin-top: 1px !important;
	}

	table[width="100%"]~* form[name^='post'] textarea.inputtext,
	table[width="100%"]~* form[name^='post'] input.inputtext,
	table[width="100%"]~* form[name^='post'] input[name="upfile"],
	table[width="100%"]~* .recaptchatable,
	table[width="100%"]~* form[name^='post'] input[name="recaptcha_response_field"],
	table[width="100%"]~#qr input.inputtext:not([name="sub"]),
	table[width="100%"]~#qr #qr_captcha,
	table[width="100%"]~#qr textarea,
	table[width="100%"]~#qr form {
		width: 248px !important;
	}

	table[width="100%"]~* form[name^='post'] .recaptcha_image_cell>center,
	table[width="100%"]~* #r_captcha_div img,
	table[width="100%"]~* #r_captcha_div input {
		width: 248px !important;
		text-align: left !important;
	}

	table[width="100%"]~#quickrep,
	table[width="100%"]~#qr .move {
		visibility: hidden !important;
		font-size: 0 !important;
	}

	table[width="100%"]~#qr .move input[name="name"] {
		visibility: visible !important;
	}

	table[width="100%"]~*:not(#qr) form[name^='post'] {
		visibility: visible !important;
		width: 248px !important;
		background-color: transparent !important;
		position: fixed !important;
		margin: 0 !important;
		padding: 0 !important;
		top: auto !important;
		bottom: 62px !important;
		right: 2px !important;
		left: auto !important;
	}

	table[width="100%"]~#qr,
	table[width="100%"]~#quickrep,
	table[width="100%"]~[id^="qr"] {
		opacity: 0.2;
		-webkit-transition: opacity .3s ease-in-out 3s;
		-moz-transition: opacity .3s ease-in-out 3s;
		-o-transition: opacity .3s ease-in-out 3s;
	}

	table[width="100%"]~#qr:hover,
	table[width="100%"]~#quickrep:hover,
	table[width="100%"]~[id^="qr"]:hover {
		opacity: 1;
		-webkit-transition: opacity .3s linear;
		-moz-transition: opacity .3s linear;
		-o-transition: opacity .3s linear;
	}

	table[width="100%"]~#qr {
		top: auto !important;
		bottom: 60px !important;
		right: 0px !important;
		left: auto !important;
		width: 248px !important;
		background-color: transparent !important;
	}

	table[width="100%"]~* form>table>tbody>tr>td>label {
		top: 0;
	}

	table[width="100%"]~* form[name^='post'] tr:nth-of-type(3)>td:nth-of-type(3),
	table[width="100%"]~* form tr:nth-of-type(3)>td:nth-of-type(3) {
		font-size: 0 !important;
		color: transparent !important;
	}

	table[width="100%"]~* form[name^='post'] textarea.inputtext {
		height: 78px !important;
		min-height: 78px !important;
		width: 248px !important;
		resize: none;
	}

	table[width="100%"]~* form[name^='post'] label:first-of-type {
		display: none !important;
	}

	table[width="100%"]~* form[name^='post'] label:last-of-type {
		text-align: right !important;
		position: absolute !important;
		bottom: 0px !important;
		right: 55px !important;
	}

	table[width="100%"]~* form[name^='post'] tr .postblock b {
		right: 3px;
	}

	table[width="100%"]~* form[name^='post'] tr:nth-of-type(3n) .postblock b {
		right: 54px;
	}

	.fake input[type="file"]::-webkit-file-upload-button, /* Cheating. Firefox Stylish will ignore this block */
	table[width="100%"]~* form[name^='post'] tr:nth-of-type(6) .postblock b {
		right: 3px !important;
	}

	table[width="100%"]~* form[name^='post'] #maxchars {
		bottom: 110px;
		right: 3px;
	}

	table[width="100%"]~* form[name^='post'] label {
	/* Spoiler Image label */
		top: auto !important;
		bottom: 0 !important;
		right: 55px !important;
	}
/* No: */

/* End */

/*[[helpertext]]*/
/* Yes: */

/* No: */
	#qr div input:-moz-placeholder,
	#qr form input:-moz-placeholder,
	#qr form textarea:-moz-placeholder {
		color: transparent !important;
	}

	#qr div input::-webkit-input-placeholder,
	#qr form input::-webkit-input-placeholder,
	#qr form textarea::-webkit-input-placeholder {
		color: transparent !important;
	}

	#qr div input:placeholder,
	#qr form input:placeholder,
	#qr form textarea:placeholder {
		color: transparent !important;
	}

	.postblock,
/* End */

/*[[CaptchaReload]]*/
/* Custom Captcha Reload Image: */
	#quickrep .refreshBtn,
	#recaptcha_reload_btn,
	.refreshBtn {
		position: absolute !important;
		height: 0 !important;
		width: 0 !important;
		padding: 12px 0 0 12px !important;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAZ0lEQVR4XgXAsQ0BUQCA4c8kSrOo70KntAgxgkl05CV2sMOVEo2ofgEAYAIAdp6SRQBwkSQJgL3kbJYEwPC1BgArIFcAwAvIFgAcBQwAQAawQZK7g0UmAJKPt+QEAPlJHmYA4AYA8AeJKy3vtXoiawAAAABJRU5ErkJggg==") no-repeat !important;
		overflow: hidden;
		z-index: 1 !important;
	}
/* None: */
	#quickrep .refreshBtn,
	#recaptcha_reload_btn,
	.refreshBtn {
		display: none;
	}
/* End */

/*[[ReturnButton]]*/
/* Yes: */
	html body>span[style="left: 5px; position: absolute;"]:nth-of-type(0) {
		display: none;
	}

	html body span[style="left: 5px; position: absolute;"] {
		font-size: 0 !important;
		visibility: hidden;
	}

	html body span[style="left: 5px; position: absolute;"] a {
		cursor: default !important;
		position: fixed !important;
		top: auto;
		right: 192px;
		bottom: 43px;
		left: auto !important;
		visibility: visible;
		height: 14px !important;
		width: 58px !important;
		margin: 0 !important;
		padding: 0 !important;
		font-size: 9px !important;
		text-transform: uppercase;
		vertical-align: bottom !important;
		padding-top: 5px !important;
		border-radius: 0 !important;
		text-align: center;
	}
/* No: */
	html body span[style="left: 5px; position: absolute;"] {
		display: none;
	}
/* End */

/*[[DeleteButtons]]*/
/* Yes: */
	.deletebuttons,
/* No: */
	input[type='checkbox'][value='delete'],
	.deletebuttons *,
	.deletebuttons:after {
		display: none;
	}

	form[name^='post'] input[type='password'].inputtext,
	form[name^='post'] tr:nth-of-type(7) td.postblock  {
		visibility: hidden;
	}
/* Remove Password Inputs: */
	form[name^='post'] input[type='password'].inputtext,
	form[name^='post'] tr:nth-of-type(7) td.postblock ,
	.deletebuttons input.inputtext {
		display: none;
	}

	.deletebuttons,
/* End */

/*[[ReplyWidth]]*/
/* Fit Width: */
	form[name="delform"]>table:not(.pages), /* Reply are tables. */
	div.thread>table, /* Replies are tables. A script like 4chan X is present */
	.insertedPosts>table, /* 4chanplus inserts new posts in a new div */
	td.reply, /* Reply cell */
	td.replyhl /* Highlighted Reply cell */ {
		width: 100% !important;
	}

	.omittedposts /* X posts and Y image replies omitted. Click Reply to view. */ {
		clear: both;
		padding-left: 20px;
		display: block !important;
	}
/* Fit Content: */
	.doubledash,
	.doubledash a,
	.replyhider a {
		position: static;
	}
/* End */

/*[[TransparentReplies]]*/
/* Yes: */

/* No: */
//
/* End */

/*[[RoundedCorners]]*/
/* Yes: */
	input[type='checkbox'],
	#options input[type='checkbox'],
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
	#qr label input[type='checkbox'] {
		border-radius: 2px !important;
		-o-border-radius: 2px !important;
	}

	td.reply,
	td.replyhl,
	#filter,
	#options,
	#options ul,
	#watcher,
	#thread_filter,
	#qp,
	#backwash_tooltip,
	#twi_table_div
	td[style="border: 1px dashed;"],
	td.reply>tr>td.reply,
	.inline td.reply {
		border-radius: 3px !important;
		-o-border-radius: 3px !important;
	}

	.pages b,
	.pages input,
	a,
	.new {
		border-radius: 9px;
	}

	.postarea form[name="post"]:after {
		border-radius: 6px 6px 0 0;
		-o-border-radius: 6px 6px 0 0 !important;
	}

	.qphl {
		-webkit-outline-radius: 3px;
		-moz-outline-radius: 3px;
		-o-outline-radius: 3px;
	}
/* ...and circle checkboxes */
	input[type='checkbox'],
	#options input[type='checkbox'],
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
	#qr label input[type='checkbox'] {
		border-radius: 6px !important;
		-o-border-radius: 6px !important;
	}

	td.reply,
	td.replyhl,
	#filter,
	#options,
	#options ul,
	#watcher,
	#thread_filter,
	#qp,
	#backwash_tooltip,
	#twi_table_div
	td[style="border: 1px dashed;"],
	td.reply>tr>td.reply,
	.inline td.reply {
		border-radius: 3px !important;
		-o-border-radius: 3px !important;
	}

	.pages b,
	.pages input,
	a,
	.new {
		border-radius: 9px;
	}

	.postarea form[name="post"]:after {
		border-radius: 6px 6px 0 0;
		-o-border-radius: 6px 6px 0 0 !important;
	}

	.qphl {
		-webkit-outline-radius: 3px;
		-moz-outline-radius: 3px;
		-o-outline-radius: 3px;
	}
/* No: */

/*[[sageidentifier]]*/
/* Sage Image: */
		content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAABa1BMVEUAAACqrKiCgYIAAAAAAAAAAACHmX5pgl5NUEx/hnx4hXRSUVMiIyKwrbFzn19SbkZ1d3OvtqtpaWhcX1ooMyRsd2aWkZddkEV8vWGcpZl+kHd7jHNdYFuRmI4bHRthaV5WhUFsfGZReUBFZjdJazpGVUBnamYfHB9TeUMzSSpHgS1cY1k1NDUyOC8yWiFywVBoh1lDSEAZHBpucW0ICQgUHhBjfFhCRUA+QTtEQUUBAQFyo1praWspKigWFRZHU0F6j3E9Oz5VWFN0j2hncWONk4sAAABASDxJWkJKTUgAAAAvNC0fJR0DAwMAAAA9QzoWGhQAAAA8YytvrFOJsnlqyT9oqExqtkdrsExpsUsqQx9rpVJDbzBBbi5utk9jiFRuk11iqUR64k5Wf0JIZTpadk5om1BkyjmF1GRNY0FheFdXpjVXhz86XSp2yFJwslR3w1NbxitbtDWW5nNnilhFXTtYqDRwp1dSijiJ7H99AAAAUnRSTlMAJTgNGQml71ypu3cPEN/RDh8HBbOwQN7wVg4CAQZ28vs9EDluXjo58Ge8xwMy0P3+rV8cT73sawEdTv63NAa3rQwo4cUdAl3hWQSWvS8qqYsjEDiCzAAAAIVJREFUeNpFx7GKAQAYAOD/A7GbZVAWZTBZFGQw6LyCF/MIkiTdcOmWSzYbJVE2u1KX0J1v+8QDv/EkyS0yXF/NgeEILiHfyc74mICTQltqYXBeAWU9HGxU09YqqEvAElGjyZYjPyLqitjzHSEiGkrsfMWr0VLe+oy/djGP//YwfbeP8bN3Or0bkqEVblAAAAAASUVORK5CYII=");
/* Sage Text: */
		content: " (sage) ";
		color: #e42217 !important;
/* None: */

/* End */

/*[[expandfile]]*/
/* Yes: */
	.filesize span {
		font-size: 0 !important;
		visibility: hidden;
	}

	.filesize span:after {
		content: attr(title);
		visibility: visible;
	}
/* No: */

/* End */

/*[[fixedFilter]]*/
/* Locked in Thread Watcher / Top */
	#filter,
	#thread_filter {
		position: fixed !important;
		top: 17px !important;
		right: 2px !important;
		bottom: auto !important;
		left: auto !important;
	}

	#filter>div:first-child,
	#thread_filter>div:first-child  {
		cursor: default !important;
	}

	#filter.authide:hover,
	#thread_filter.autohide:hover {
		width: 248px;
	}

	#filter:not(.autohide) a[title="Auto-hide dialog box"]:after,
	#thread_filter:not(.autohide) a[title="Auto-hide dialog box"]:after {
		content: " - SET THIS!!";
	}
/* Locked Bottom: */
	#filter,
	#thread_filter {
		position: fixed !important;
		top: auto !important;
		right: 2px !important;
		bottom: 0 !important;
		left: auto !important;
		width: 248px;
	}

	#filter>div:first-child ,
	#thread_filter>div:first-child  {
		cursor: default !important;
	}

	#filter:not(.autohide) a[title="Auto-hide dialog box"]:after
	#thread_filter:not(.autohide) a[title="Auto-hide dialog box"]:after {
		content: " - SET THIS!!";
	}
/* Moveable */
	#filter,
	#thread_filter {
		margin: 2px !important;
		width: 248px;
	}
/* End */

/*[[CenteredImages]]*/
/* Yes: */
domain("images.4chan.org"),

/* No: */

/* End */

/*[[CustomScrollbars]]*/
/* Yes: */

/* No: */
//
/* End */
