/* Defaults: */
/*[[CustomScrollbars]]*/::-webkit-scrollbar-thumb { border: 1px solid #aaa; background: #fff; }
/*[[CustomScrollbars]]*/::-webkit-scrollbar-thumb:hover { background: #ccc; }
/*[[CustomScrollbars]]*/::-webkit-scrollbar-thumb:active { background: #aaa; }
/*[[CustomScrollbars]]*/::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {background: #ccc; }
/*[[CustomScrollbars]]*/scrollbar, scrollcorner { background: #ccc !important; }
/*[[CustomScrollbars]]*/thumb { -moz-appearance: none !important; border: 1px solid #aaa; background: #fff; }
/*[[CustomScrollbars]]*/thumb:hover { background: #ccc; }
/*[[CustomScrollbars]]*/thumb:active { background: #aaa; }

	form table tbody>tr:nth-of-type(2) td[align='right'] {
		display: table-cell !important;
		visibility: visible !important;
		position: fixed !important;
		font-size: 0 !important;
		bottom: 24px;
		right: 2px;
	}

	form table tbody>tr:nth-of-type(2) td[align='right'] a {
		margin-left: 2px !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type='checkbox']),
	#options textarea,
	#options .column ul>li:first-of-type,
	#qr table .recaptchatable #recaptcha_image,
	#qr img,
	#updater input:not([type='checkbox']),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp>div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type='checkbox']),
	#qr_captcha input,
	input[type='file']>input[type='button'],
	input[type='submit'],
	html body span[style='left: 5px; position: absolute;'] a,
	select,
	textarea,
	#qr input[type='checkbox'],
	input[type='checkbox'],
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
	#qr label input	{
		border: 1px solid #ccc !important;
	}

	html body span[style='left: 5px; position: absolute;'] a {
		height: 14px !important;
		padding-top: 3px !important;
		width: 56px !important;
	}

	form[name^='post'] input[type='file'][name='upfile'],
	#qr input[type='file'][name='upfile'] {
		margin: 0 -1px -1px !important;
		height: 21px !important;
	}

	.fake input[type='file']::-webkit-file-upload-button,
	input[name='upfile'] {
		border: 1px solid #ccc !important;
	}

	.fake input[type='file']::-webkit-file-upload-button,
	form[name^='post'] input[type='file'][name='upfile'] {
		margin: 0 -1px -1px !important;
		height: 21px !important;
	}

	#qr input[type='checkbox'],
	input[type='checkbox'] {
		color: #aaa !important;
	}

	#updater #count:not(.new):after,
	#imgControls label:after,
	#navbot:after,
	div.postarea>form td:nth-of-type(3)>label,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#autonoko {
		color: #000 !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
	}

	#backwash_tooltip,
	#qp,
	#popup,
	div[id^=ref] {
		background-color: #eee !important;
	}

	form[name^='post'] .postblock b,
	.postarea form[name^='post']:after,
	#maxchars,
	.postarea tr:nth-child(4) .postblock b:after {
		color: rgba(0,0,0,0.5) !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: rgba(0,0,0,0.5) !important;
	}

	#qr input::-webkit-input-placeholder,
	#qr textarea::-webkit-input-placeholder {
		color: rgba(0,0,0,0.5) !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: rgba(0,0,0,0.5) !important;
	}

/*[[TransparentReplies]]*/	.op>blockquote,
/*[[TransparentReplies]]*/	.thread>blockquote,
/*[[TransparentReplies]]*/	form[name='delform']>blockquote,
	div.logo font  {
		text-shadow: #fff 1px 0 2px, #fff -1px 0 2px, #fff 0 -1px 2px, #fff 0 1px 2px;
	}

	#navbot,
	#navbot:after,
	#watcher .move,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #fff !important;
	}

	#options .column ul {
		border-color: #ccc !important;
	}

	#watcher .move,
	#twi_table_div .postblock {
		border-bottom: 1px #fff solid !important;
	}

	form[name='post']:after {
		border: #ccc solid;
		border-width: 1px 1px 0 1px;
		border-radius: 6px 6px 0 0;
	}

	#header,
	#navbot,
	#navbot:after,
	.pages,
	form[name='post']:after {
		background-color: #fff !important;
	}

	td.reply,
	td.replyhl,
	#options,
	#navbar,
	#popup,
	#boardsMenu {
		border: 0 !important;
	}

	#recaptcha_image img,
	#quick_recaptcha_image img,
	#qr img {
		opacity: 1 !important;
	}

	.postarea form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	.postarea form[name^='post'] #recaptcha_image img,
	#qr img {
		width: 246px !important;
		height: 45px !important;
	}

	form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	form[name^='post'] #recaptcha_image img,
	#qr img {
		width: 298px !important;
		height: 55px !important;
	}

	form[name='delform']>div:not(.thread) select,
	.pages input[type='submit'] {
		margin: 0 !important;
		height: 17px !important;
	}