/* MikuChan */
/*[[CustomScrollbars]]*/
	::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer { background: -webkit-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0.1)); }
	::-webkit-scrollbar-thumb { border: #565f6e !important; background: -webkit-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0.2)); }
	::-webkit-scrollbar-thumb:hover { background: #565f6e; }
	::-webkit-scrollbar-thumb:active { background: #707781; }
	scrollbar, scrollcorner { background: #808791; }
	thumb:active { background: -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0.1)) !important; }
	thumb { border-color: #565f6e !important; background: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0.2)); }
	thumb:hover { background: #707781 !important; }
/**/
	::-webkit-selection {
		background: #ced5db;
		color: #808791;
	}

	::-moz-selection {
		background: #ced5db;
		color: #808791;
	}

	::selection {
		background: #ced5db;
		color: #808791;
	}

	* {
		text-shadow: rgba(30, 30, 30, .37) 0 0 3px, rgba(30, 30, 30, .7) 0 1px 0 !important
	}

	body,
	body>form,
	html body span[style='left: 5px; position: absolute;'] a,
	input,
	div.postarea,
	form[name^='post']:before,
	select,
	td.deletebuttons,
	textarea,
	.abbr,
	.boxbar,
	.boxcontent,
	.logo,
	.omittedposts,
	.pages b,
	.postblock,
	.reply,
	.replyhl,
	#backwash_tooltip,
	#imgControls label:after,
	#navbot:after,
	#qr:before,
	#qp,
	#twi_table_div,
	#updater #count:not(.new):after {
		color: #ced5db !important;
	}

	html body span[style='left: 5px; position: absolute;'] a {
		font-weight: 400 !important;
	}

/*[[TransparentReplies]]*/	.op>blockquote,
	.thread>blockquote,
	form[name='delform']>blockquote, /**/
	div.logo font {
		text-shadow: #565f6e 1px 0 2px, #565f6e -1px 0 2px, #565f6e 0 -1px 2px, #565f6e 0 1px 2px !important;
	}

	div.postarea>form td:nth-of-type(3)>label,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#autonoko {
		color: #9ad7da;
	}

	input[type='file']::-webkit-file-upload-button {
		color: #9ad7da !important;
	}

	.replyhider a {
		color: #9ad7da !important;
	}

	.replyhider a:hover {
		color: #ffa4fa !important;
	}

	a:hover {
		color: #47475b !important;
	}

	a,
	.postername,
	.commentpostername {
		color: #9ad7da !important;
		font-weight: bold !important;
		text-shadow: rgba(30, 30, 30, .37) 0 0 3px, rgba(30, 30, 30, .7) 0 1px 0;
	}

	.postertrip {
		color: #acf !important;
		font-weight: bold !important;
	}

	a:hover,
	.postername a:hover,
	.commentpostername a:hover,
	a:hover .postertrip {
		color: #ffa4fa !important;
	}

	a.backlink,
	a.forwardlink {
		color: #49bcc3 !important;
	}

	a.forwardlink {
		text-decoration: underline !important;
	}

	.filetitle,
	.replytitle {
		color: rgba(255,255,255,0.6) !important;
	}

	.unkfunc {
		color: #8ac7da !important;
	}

	#boards h3,
	#boardsMenu,
	#filter.autohide:hover,
	#filter:not(.autohide),
	#ft li,
	#ft ul,
	#navbar,
	#options .dialog,
	#popup,
	#threadwatcher,
	#threadwatcher .postblock,
	#watcher,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	.box-outer,
	.boxbar,
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	.yuimenuitem-selected,
	h2,
	input,
	select,
	td.postblock,
	td.reply,
	textarea {
		background: #808791 !important;
		border-radius: 5px/2px !important;
	}

	#com_submit:hover,
	#cc-showpostarea,
	#twi_table_div,
	#twi_table_div *,
	#backwash_tooltip,
	#qp,
	#updater:hover,
	#popup,
	.chanchimp,
	.chanchimp>div,
	.deletebuttons input[value=Delete],
	div[id^=ref],
	input:hover,
	input[type='file']>input[type='button'],
	td.replyhl,
	tr.replyhl,
	textarea:hover,
	html body span[style='left: 5px; position: absolute;'] a,
	input[type='submit'],
	#com_submit,
	input[type='file']>input[type='button'] {
		background-color: #707781 !important;
		border-radius: 5px/2px !important;
	}

	div[id^='4chan_ext_iqr'],
	div[id^='4chan_ext_iqr']>*,
	#filter input,
	#filter textarea,
	#header,
	#navbot,
	#navbot:after,
	#options input,
	#options textarea,
	#qr,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#quickrep,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#qr label input,
	#thread_filter input,
	#thread_filter textarea,
	#updater input:not([type='checkbox']),
	.bd,
	.boxcontent>hr,
	.boxcontent input,
	.boxcontent textarea,
	.pages,
	h3,
	html,
	body,
	div.postarea>form td:nth-of-type(3)>label input,
	div[id^=qr],
	table.reply[style^='clear: both'],
	.recaptchatable #recaptcha_response_field:focus,
	.deletebuttons input[type='password']:focus,
	input:focus,
	input[type='submit']:focus,
	textarea:focus {
		background-color: #565f6e !important;
	}

	html body span[style='left: 5px; position: absolute;'] a:hover,
	#com_submit:hover,
	input[type='submit']:hover,
	input[type='file']>input[type='button']:hover {
		background-color: #ffa4fa !important;
	}

	#qr:before,
	form[name^='post']:before {
		border-radius: 6px 6px 0 0;
		-o-border-radius: 6px 6px 0 0;
	}

/*[[TransparentReplies]]*/	td.reply {
		background-color: rgba(170,175,180,0.5) !important;
		text-shadow: #808791 1px 0 2px, #808791 -1px 0 2px, #808791 0 -1px 2px, #808791 0 1px 2px;
	}

	td.replyhl {
		background-color: rgba(138,143,148,0.5) !important;
		text-shadow: #707781 1px 0 2px, #707781 -1px 0 2px, #707781 0 -1px 2px, #707781 0 1px 2px;
	}/**/

	.qphl {
		outline-color: #ced5db !important;
	}

	input[type='checkbox'],
	#options input[type='checkbox'],
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox'],
	#qr label input[type='checkbox'] {
		color: #aaa !important;
		border: 1px solid hsla(0,0%,50%,.5) !important;
		background: hsla(0,0%,100%,.1) !important;
	}

	input[type="checkbox"]:hover,
	input[type="checkbox"]:hover:active {
		background: hsla(0,0%,50%,.2) !important;
		-moz-transition: background .3s ease-out;
	}

	input[type=checkbox]:active,
	#options input[type=checkbox]:active,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:active,
	#qr label input[type='checkbox']:active {
		background: hsla(0,0%,100%,.1) !important;
	}

	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked,
	form[name^='post'] td:nth-of-type(3) > label input[type='checkbox']:checked,
	#qr label input[type='checkbox']:checked {
		border: 1px solid hsla(0,0%,100%,.8) !important;
		background: hsla(0,0%,100%,.5) !important;
	}

	#crntBoard {
		border-right-color: #565f6e !important;
	}

	td[style='border: 1px dashed;'],
	td.reply>tr>td.reply,
	.inline td.reply {
		/* Inline Quotes */
		background-color: rgba(0,0,0,0.1) !important;
		border: none !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(255,255,255,.02) !important;
	}

	.new {
		background-color: rgba(255,255,255,.5) !important;
		color: #000 !important;
	}

	.spoiler,
	.unkfunc,
	.spoiler a {
		-moz-transition: all .5s .1s !important;
	}

	.spoiler,
	.spoiler:before {
		background-color:#565f6e !important;
		color: transparent !important; padding: 0px 2px 0px 2px !important;
		text-shadow: #565f6e 0 0 3px, #565f6e 0 1px 0 !important;
		border-radius: 5px/2px !important;
	}

	.spoiler .unkfunc,
	.spoiler a {
		color: transparent !important;
	}

	.spoiler:hover,
	span.spoiler:hover,
	.hborderform *:not(a):not(font):not(b){
		color:#5d78a0 !important;
		background-color: transparent !important;
		text-shadow: rgba(30, 30, 30, .37) 0 0 3px, rgba(30, 30, 30, .7) 0 1px 0 !important;
	}


	.spoiler:hover .unkfunc,
	span.spoiler:hover .unkfunc,
	.hborderform *:not(a):not(font):not(b) {
		color:#387080 !important;
		background-color: transparent !important;
	}

	spoiler:hover a,
	span.spoiler:hover a {
		color:#4e747d !important;
		background-color: transparent !important;
	}


	spoiler:hover quotelink,
	span.spoiler:hover quotelink {
		color:#6d549c !important;
		background-color: transparent !important;
	}

	form[name^='post'] .postblock b,
	form[name^='post']:before,
	.postarea tr:nth-child(4) .postblock b,
	#maxchars,
	#qr:before {
		color: rgba(255,255,255,0.4) !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: rgba(255,255,255,0.4) !important;
	}

	#qr input::-webkit-input-placeholder,
	#qr textarea::-webkit-input-placeholder {
		color: rgba(255,255,255,0.4) !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: rgba(255,255,255,0.4) !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type='checkbox']),
	#qr table .recaptchatable #recaptcha_image,
	#updater input:not([type='checkbox']),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp>div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type='checkbox']),
	#qr_captcha input,
	input[type='file']>input[type='button'],
	input[type='submit'],
	select,
	textarea {
		border: none !important;
	}

	.postarea form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	.postarea form[name^='post'] #recaptcha_image img {
		width: 248px !important;
		height: 47px !important;
	}

	.boxcontent dd,
	#options ul,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #565f6e !important;
	}

	#watcher .move,
	#twi_table_div .postblock {
		border-bottom: 1px #565f6e solid !important;
	}

	hr {
		border-top: 1px solid #707781 !important;
/*[[PostSeparationHR]]*/
	}

	.postarea textarea:focus {
		bottom: 171px !important; /* Borders change the dimensions of the postform slightly. */
	}

	#filter input,
	#filter textarea,
	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	#options input,
	#qr,
	#quickrep,
	div[id^=qr],
	table.reply[style^='clear: both'] {
		border: none !important;
	}

	form[name='delform']>div:not(.thread) select {
		margin: 1px 0 0 0 !important;
	}

	form[name='delform']>div:not(.thread) select,
	.pages input[type='submit'] {
		height: 15px !important;
	}