/* YukiChan */
/*[[CustomScrollbars]]*/::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer { background: #686a99 !important; }
/*[[CustomScrollbars]]*/::-webkit-scrollbar-thumb { background: #5f608b !important; -webkit-border-radius: 10px !important; border: 1px solid #313c5a !important; }
/*[[CustomScrollbars]]*/::-webkit-scrollbar-thumb:hover { background: #4f507b !important; }
/*[[CustomScrollbars]]*/::-webkit-scrollbar-thumb:active { background: rgba(255,255,255,.4) !important; }
/*[[CustomScrollbars]]*/scrollbar, scrollcorner { background: #686a99 !important; }
/*[[CustomScrollbars]]*/thumb { background: #5f608b !important; border-radius: 10px !important; border: 1px solid #313c5a !important; }
/*[[CustomScrollbars]]*/thumb:hover { background: #4f507b !important; }
/*[[CustomScrollbars]]*/thumb:active { background: rgba(255,255,255,.4) !important; }

	::-webkit-selection{
		background: #313c5a;
		color: #5f608b;
	}

	::-moz-selection{
		background: #313c5a;
		color: #5f608b;
	}

	::selection{
		background: #313c5a;
		color: #5f608b;
	}

	input[type="checkbox"]:checked,
	#options input[type="checkbox"]:checked{
		background: rgba(255,255,255,.4) !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.boxbar h2,
	.filesize,
	.filesize a,
	a.linkmail,
	a.quotejs,
	.omittedposts,
	.postername,
	.commentpostername,
	.postertrip,
	.trip,
	.abbr,
	.replyhider a,
	td.reply,
	td.replyhl,
	tr.replyhl {
		color: #313c5a !important;
	}

	span.filetitle, .replytitle {
		color: #552545 !important;
	}

	.postername,
	.commentpostername,
	table .commentpostername a.linkmail[href$="sage"]:after {
		font-weight: 700;
	}

	b[style="color:red;"],
	.commentpostername span[style="color:#800080"],
	b[style="color:red;"] {
		color: #000 !important;
	}

	.unkfunc {
		color: #613 !important;
	}

	a:hover,
	a:active,
	body,
	body>form,
	div.postarea,
	html body span[style="left: 5px; position: absolute;"] a,
	input,
	select,
	td.deletebuttons,
	textarea,
	.abbr,
	.boxbar,
	.boxcontent,
	.logo,
	.omittedposts,
	.pages b,
	.postblock,
	.reply,
	.replyhl,
	#backwash_tooltip,
	#imgControls label:after,
	#navbot:after,
	#qp,
	#twi_table_div,
	#updater #count:not(.new):after {
		color: #1e1f3d !important;
	}

	div.logo font,
	.op>blockquote,
	.thread>blockquote,
	form[name='delform']>blockquote {
		text-shadow: #5f608b 1px 0 2px, #5f608b -1px 0 2px, #5f608b 0 -1px 2px, #5f608b 0 1px 2px;
	}

	div.postarea>form td:nth-of-type(3)>label,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label,
	#autonoko {
		color: #313c5a !important;
		text-shadow: -1px -1px 2px #5f608b, 1px 1px 2px #5f608b, 1px -1px 2px #5f608b, -1px 1px 2px #5f608b;
	}

	input[type="file"]::-webkit-file-upload-button {
		background: transparent;
		border: 2px solid #5f608b !important;
		color: #313c5a !important;
		text-shadow: -1px -1px 2px #5f608b, 1px 1px 2px #5f608b, 1px -1px 2px #5f608b, -1px 1px 2px #5f608b;
	}

	#boards h3,
	#boardsMenu,
	#ft li,
	#ft ul,
	#navbar,
	#options,
	#popup,
	#qr input[type="checkbox"],
	#threadwatcher,
	#threadwatcher .postblock,
	#watcher,
	.box-outer,
	.boxbar,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	#qr img,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	.yuimenuitem-selected,
	h2,
	html body span[style="left: 5px; position: absolute;"] a,
	input,
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	td.postblock,
	td.reply,
	textarea,
	input[type="checkbox"] {
		background-color: #686a99 !important;
	}

	#filter input,
	#filter textarea,
	#header,
	#navbot,
	#navbot:after,
	#options input,
	#options textarea,
	#options input[type=checkbox],
	#options .column ul>li:first-of-type,
	#qr,
	#qr>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#quickrep,
	#quickrep>form tr:nth-of-type(3)>td:nth-of-type(3)>label input,
	#qr label input,
	#thread_filter input,
	#thread_filter textarea,
	#updater input,
	.bd,
	.boxcontent>hr,
	.boxcontent input,
	.boxcontent textarea,
	.pages,
	.reply input[type=checkbox],
	h3,
	html,
	body,
	div.postarea>form td:nth-of-type(3)>label input,
	div[id^=qr],
	table.reply[style^="clear: both"] {
		background-color: #5f608b !important;
	}

	#backwash_tooltip,
	#cc-showpostarea,
	#filter.autohide:hover,
	#filter:not(.autohide),
	#qp,
	#updater:hover,
	#thread_filter.autohide:hover,
	#thread_filter:not(.autohide),
	#twi_table_div,
	#twi_table_div *,
	#popup,
	.chanchimp,
	.chanchimp>div,
	div[id^=ref],
	td.replyhl {
		background-color: #7a7aa5 !important;
	}

	td.reply {
/*[[TransparentReplies]]*/		background-color: rgba(110,112,160,0.5) !important;
	}

	td.replyhl {
/*[[TransparentReplies]]*/		background-color: rgba(125,126,170,0.5) !important;
	}

	.qphl {
		outline-color: #313c5a !important;
	}

	.recaptchatable #recaptcha_response_field:focus,
	.deletebuttons input[type="password"]:focus,
	input:focus,
	input[type="submit"]:focus,
	html body span[style="left: 5px; position: absolute;"] a:focus,
	textarea:focus {
		background-color: #5f608b !important;
	}

	input[type="checkbox"] {
		background: rgba(104,106,153,.4) !important;
		border: 1px solid #313c5a !important;
	}

	#crntBoard {
		border-right-color: #1e1f3d !important;
	}

	.pages b {
		background: rgba(0,0,0,0.3) !important;
		color: #ccc !important;
	}

	#header a:hover,
	.pages input:hover,
	a:hover {
	/* URL bubbles */
		background: rgba(255,255,255,.6) !important;
	}

	.new {
		background-color: rgba(255,255,255,.5) !important;
		color: #000 !important;
	}

	a,
	form[name^='post'] .postblock b,
	.postarea tr:nth-child(4)>.postblock>b:after,
	.postarea form[name^='post']:after,
	#maxchars {
		color: #242949 !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: #242949 !important;
	}

	#qr input::-webkit-input-placeholder,
	#qr textarea::-webkit-input-placeholder {
		color: #242949 !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: #242949 !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type="checkbox"]),
	#qr table .recaptchatable #recaptcha_image,
	#qr img,
	#updater input:not([type="checkbox"]),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp>div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type="checkbox"]),
	#qr_captcha input,
	input[type="file"]>input[type="button"],
	input[type="submit"],
	html body span[style="left: 5px; position: absolute;"] a,
	select,
	textarea {
		border: 1px solid #313c5a !important;
		text-shadow: -1px -1px 3px #5f608b, 1px 1px 3px #5f608b, 1px -1px 3px #5f608b, -1px 1px 3px #5f608b;
	}

	html body span[style="left: 5px; position: absolute;"] a {
		height: 14px !important;
		padding-top: 3px !important;
		width: 56px !important;
	}

	form[name^='post'] input[type="file"][name="upfile"] {
		margin: 0 -1px -1px !important;
		height: 21px !important;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	input[name="upfile"] {
		border: 1px solid #313c5a !important;
		text-shadow: -1px -1px 3px #5f608b, 1px 1px 3px #5f608b, 1px -1px 3px #5f608b, -1px 1px 3px #5f608b;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	form[name^='post'] input[type="file"][name="upfile"] {
		margin: 0 -1px -1px !important;
		height: 21px !important;
	}

	#navbot,
	#navbot:after,
	.boxcontent dd,
	#options .column ul,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #313c5a !important;
	}

	#watcher .move,
	#twi_table_div .postblock {
		border-bottom: 1px #313c5a solid !important;
	}

	form[name="post"]:after {
		background-color: #686a99 !important;
		border: #313c5a solid;
		border-width: 1px 1px 0 1px;
	}

	.postarea form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	.postarea form[name^='post'] #recaptcha_image img,
	#qr img {
		width: 246px !important;
		height: 45px !important;
	}

	form[name^='post'] .recaptcha_image_cell>center>#recaptcha_image,
	form[name^='post'] #recaptcha_image img,
	#qr img {
		width: 298px !important;
		height: 55px !important;
	}

	form[name="delform"]>div:not(.thread) select,
	.pages input[type="submit"] {
		margin: 0 !important;
		height: 17px !important;
	}