/* Zenburned */
	::-webkit-scrollbar-thumb {
		border: 1px solid #4f4f4f !important;
		background: #3f3f3f;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #4f4f4f;
	}

	::-webkit-scrollbar-thumb:active {
		background: #111;
	}

	::-webkit-scrollbar-track-piece,
	::-webkit-scrollbar-corner,
	::-webkit-scrollbar-resizer {
		background: #3a3a39;
	}

	::-webkit-selection{
		background:#ccc;
		color:#3a3a39;
	}

	::-moz-selection{
		background:#ccc;
		color:#3a3a39;
	}

	::selection{
		background:#ccc;
		color:#3a3a39;
	}

	thumb:active {
		background: #111 !important;
	}

	thumb {
		border-color: #4f4f4f !important;
		background: #3f3f3f;
	}

	scrollbar,
	scrollcorner {
		background: #000 !important;
	}

	*,
	html,
	body {
		background-color: #3f3f3f !important;
	}

	body,
	body>form,
	div.postarea,
	input,
	td.deletebuttons,
	.logo,
	.pages b,
	.postarea tr:nth-child(4)>.postblock>b:after,
	.reply,
	#imgControls label:after,
	#updater #count:not(.new):after {
		color: #ccc !important;
	}

	#qr input:-moz-placeholder,
	#qr textarea:-moz-placeholder {
		color: #888 !important;
	}

	#qr input:-webkit-placeholder,
	#qr textarea:-webkit-placeholder {
		color: #888 !important;
	}

	#qr input:placeholder,
	#qr textarea:placeholder {
		color: #888 !important;
	}

	div.logo,
	div.logo *,
	form,
	#updater:not(:hover),
	#updater>*,
	#updater>*>*,
	#thread_filter.autohide:not(:hover),
	#thread_filter>div {
		background-color: transparent !important;
	}

	.reply,
	.reply>*,
	.reply>*>*,
	.reply>*>*>* {
		background-color: #3a3a39 !important;
	}

	.spoiler:not(:hover),
	.spoiler:not(:hover) .unkfunc,
	.spoiler:not(:hover) a,
	.spoiler:not(:hover) * {
		/* Fixes text spoilers */
		background-color: #000 !important;
	}

	form[name="delform"] .reply td,
	form[name="delform"] .replyhl td {
		border: 1px solid #4f4f4f !important;
	}

	td.reply,
	td.replyhl,
	#options,
	#navbar,
	#popup,
	#boardsMenu {
		border: 0 !important;
	}

	#navbot,
	#navbot:after,
	.boxcontent dd,
	#threadwatcher .postblock,
	.chanchimp * {
		border-color: #4f4f4f !important;
	}

	#watcher .move,
	#twi_table_div .postblock {
		border-bottom: 1px #4f4f4f solid !important;
	}

	a {
		color:#efdcbc !important;
	}

	a:hover {
		color: #f8f893 !important;
	}

	.filetitle,
	.replytitle {
		color: #e89393 !important;
	}

	.postername,
	.commentpostername {
		color: #c0bed1 !important;
	}

	.postertrip {
		color: #8cd0d3 !important;
	}

	.unkfunc {
		color: #7f9f7f !important;
	}

	select {
		color: #000 !important;
	}

	#cc-showpostarea,
	#ft li,
	#ft ul,
	#options input:not([type="checkbox"]),
	#qr table .recaptchatable #recaptcha_image,
	#updater input:not([type="checkbox"]),
	#twi_table_div,
	#twi_table_div *,
	.box-outer,
	.boxbar,
	.chanchimp,
	.chanchimp>div,
	.inputtext,
	.deletebuttons input[value=Delete],
	.recaptcha_image_cell>center>#recaptcha_image,
	.recaptchatable #recaptcha_response_field,
	.top-box,
	h2,
	input:not([type="checkbox"]),
	#qr_captcha input,
	input[type="file"]>input[type="button"],
	input[type="submit"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		border: 1px solid #888 !important;
		height: 19px !important;
	}

	.deletebuttons>input[type="submit"]:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input:not([type="checkbox"]):not([name="upfile"]):focus,
	#thread_filter input:not([type="checkbox"]):focus,
	#updater input:not([type="checkbox"]):focus,
	#thread_filter textarea:focus,
	#options input:focus,
	textarea:focus {
		border: 1px solid #9988ee !important;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	input[name="upfile"] {
		border: 1px solid #888 !important;
	}

	.fake input[type="file"]::-webkit-file-upload-button,
	input[name="upfile"]:focus {
		border: 1px solid #9988ee !important;
	}

	tr .postblock b,
	.postarea form[name^="post"]:after,
	label {
		background: none !important;
	}

	select,
	input[type=checkbox] {
		border: none 0 !important;
		background-color: #3f3f3f !important;
		color: #efefef !important;
		border: 1px solid #888 !important;
	}

	select>* {
		border: 0 !important;
	}

	.postarea form[name="post"]:after {
		background-color: #3f3f3f !important;
		border: #888 solid;
		border-width: 1px 1px 0 1px;
		border-radius: 6px 6px 0 0;
	}

	.postarea form[name^="post"] .recaptcha_image_cell>center>#recaptcha_image,
	.postarea form[name^="post"] #recaptcha_image img {
		width: 246px !important;
		height: 45px !important;
	}

	form[name^="post"] .recaptcha_image_cell>center>#recaptcha_image,
	form[name^="post"] #recaptcha_image img {
		width: 298px !important;
		height: 55px !important;
	}

	form[name="delform"]>div:not(.thread) select,
	.pages input[type="submit"] {
		margin: 0 !important;
		height: 17px !important;
	}

	input[type=checkbox]:checked,
	#options input[type=checkbox]:checked {
		background: #111 !important;
	}